---
import Layout from '../layouts/BaseLayout.astro';
---


<Layout title="About | UI/UX, Apps design and Mobile-first Development – Digital Agency Webcreator">


    <div class="heading">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="heading-title">
                        Webcreator – engaging and effective
                    </h1>
                    <div class="heading-text">
                        Our digital development team creates engaging and easy <br class="d-none d-lg-inline">
                        to use Web sites, Mobile apps, SaaS products and <br class="d-none d-lg-inline">
                        Cross-Platform Applications.
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <div class="about-info-section">
        <div class="container">
            <div class="row">
                <h2 class="col-lg-4 about-info__title">
                    We work <del>hard</del> smart to
                    make your start-up
                    perfect.
                </h2>
                <div class="col-lg-6 offset-lg-2">
    <p>
    As we know if your business is successful we’ll have more work to do. Does not matter what your idea is – we believe any idea could be worth millions. 
    </p>
    <p>
    Webcreator has 10+ years of experience in digital development. The core staff consists of: Senior UI Designer, UX Expert, Digital Architect and Business Analytic, Full Stack Developer and Mobile Developer.
    </p>
    <p>
    Think creatively and design engaging effective digital solutions for business with a personalized approach.
    </p>
                </div>
                <div class="col-lg-4 mt-5">
                    <div class="border-top-card blue">
                        <h3 class="card-title">
                            Fully Remote Team
                        </h3>
    We are a fully remote team managed by best Agile practices. We use akin to Basecamp tool to manage projects. It helps sort out tasks fast and make more for less time.
                    </div>
                </div>
                <div class="col-lg-4 mt-5">
                    <div class="border-top-card purple">
                        <h3 class="card-title">
                            Incredibly Responsive
                        </h3>
    Keep in touch and are incredibly responsive during workday, and if needed on weekends. Fast communication and strong project management without micromanagement.
                    </div>
                </div>
                <div class="col-lg-4 mt-5">
                    <div class="border-top-card green">
                        <h3 class="card-title">
                            Great <br class="d-none d-sm-inline"> Outcome
                        </h3>
    Trust us and get effective digital solutions to attract new customers. A vivid website or simple app with a zingy brand identity and trump digital strategy is a key to success.
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    
    <div class="our-team-section">
        <div class="container">
            <div class="row">
                <h3 class="col-12 our-team-title">
                    Our Team
                </h3>
                <div class="col-md-4 col-sm-6">
                    <div class="team-member">
                        <img decoding="async" src="/assets/img/team/yev-1-1.jpg" alt="member1" class="team-member__photo">
                        <div class="team-member__name">Evhen Filatov</div>
                        <div class="team-member__position">Founder, Digital Architect</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="team-member">
                        <img decoding="async" src="/assets/img/team/member2.png" alt="member2" class="team-member__photo">
                        <div class="team-member__name">
    Igor Shaforos</div>
                        <div class="team-member__position">Web Developer</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="team-member">
                        <img decoding="async" src="/assets/img/team/member3.png" alt="member3" class="team-member__photo">
                        <div class="team-member__name">Marianna Afanasieva</div>
                        <div class="team-member__position">UX Designer</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="team-member">
                        <img decoding="async" src="/assets/img/team/member4.png" alt="member4" class="team-member__photo">
                        <div class="team-member__name">Caroline Bagley</div>
                        <div class="team-member__position">Front End Developer</div>
                    </div>
                </div> 
                <div class="col-md-4 col-sm-6">
                    <div class="team-member">
                        <img decoding="async" src="/assets/img/team/member5.png" alt="member5" class="team-member__photo">
                        <div class="team-member__name">Alexander Medvedev</div>
                        <div class="team-member__position">Senior UI Designer</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="team-member">
                        <img decoding="async" src="/assets/img/team/member6.png" alt="member6" class="team-member__photo">
                        <div class="team-member__name">Sergey Gerasimov</div>
                        <div class="team-member__position">Brand Strategist</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    



</Layout>


