---
import Layout from '../layouts/BaseLayout.astro';
---


<Layout title="Design Systems | UI/UX, Apps design and Mobile-first Development – Digital Agency Webcreator">

<div class="heading">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="heading-title">
                   Build Design System to help scale your products
                </h1>
                <div class="heading-text">Design system is a collection of UI components, design standards, style guides along with principles, patterns &amp; code components which define a common visual language for product.
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about-info-section">
    <div class="container">
        <div class="row">
            <h2 class="col-lg-4 about-info__title">
Design better digital products faster
            </h2>
            <div class="col-lg-6 offset-lg-2">
                <p> Design systems create consistency, help teams scale design processes, and make it easy to collaborate through shared patterns and language. 
              </p>
              <p>
 It accelerates the design process and bridges the gap between teams involved in building or adding new features to your product by having clear graphics standards, patterns and code components. 
 </p>

<p>Two really good examples of design systems are <a href="https://material.io/" target="_blank" rel="nofollow noopener noreferrer">Material Design</a> by Google Team and <a href="https://atlassian.design/" target="_blank" rel="nofollow noopener noreferrer">Atlassian Design System</a>
</p>

            </div>
            <div class="col-lg-4 mt-5">
                <div class="border-top-card purple">
                    <h3 class="card-title">
                      Digital Branding
                    </h3>
Our team design the complete set of design standards along with principles, patterns, collection of rules, constraints and best practices Style guide – a subclass showing how products should look, containing use cases for UI patterns, typography etc.                </div>
            </div>
            <div class="col-lg-4 mt-5">
                <div class="border-top-card pink">
                    <h3 class="card-title">
                        Components 
                    </h3>
We design library of UI Components like a user interface, forms, layouts, other reusable combinations of components. And provide HTML coding of them for future use 
                </div>
            </div>
            <div class="col-lg-4 mt-5">
                <div class="border-top-card green">
                    <h3 class="card-title">
                         Faster Design Process
                    </h3>
A good design system is one which is reusable, robust, and well-documented. it helps make the design process more efficient and more cost-effective.
                </div>
            </div>
        </div>
    </div>
</div>



<div class="design-experience-section">
    <div class="container">
        <div class="row">
            <h3 class="col-12 design-experience__title">
                UI/UX Design Experience
            </h3>

            <div class="col-md-4 col-sm-6">
                <div class="design-experience__item">
<a href="/work/investofriends/"><div class="overflow-hidden"><img decoding="async" src="/assets/img/work/motwi.png" alt="MOTWI UI-UX Designing" class="design-experience__photo"></div></a>
                    <div class="design-experience__text"><a href="/new-ui-for-motwi-saas-and-design-system/">Design System MOTWI IoT</a></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="design-experience__item">
 <a href="/work/crm-branding-and-digital-design/"><div class="overflow-hidden"><img decoding="async" src="/assets/img/last-work/design-experience6.png" alt="CRM Data Solutions" class="design-experience__photo"></div></a>
                    <div class="design-experience__text"><a href="/work/crm-branding-and-digital-design/">Brand Identity, Website and CRM</a></div>
                </div>
            </div>
         <div class="col-md-4 col-sm-6">
                <div class="design-experience__item">
                    <a href="/work/joyn-analytics/"><div class="overflow-hidden"><img decoding="async" src="/assets/img/last-work/projects_joyn-small1.png" alt="Credit Agricole Bank" class="design-experience__photo"></div></a>
                    <div class="design-experience__text"><a href="/work/joyn-analytics/">JOYN Analytics iOS App</a></div>
                </div>
            </div>
        </div>
    </div>
</div>


</Layout>

