<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-4 mb-md-0 footer-mobile">
                <div class="footer__city-title">Kyiv</div>
                <div>Heroiv Stalingradu Ave, 6</div>
                <div>Ukraine</div>
				<div><a href="mailto:in@webcreator.ws">in@webcreator.ws</a></div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4 mb-md-0 footer-mobile">
                <div class="footer__city-title">Vilnius</div>
                <div>Antakalnio St. 17</div>
                <div>Lithuania</div>
				<div><a href="mailto:lt@webcreator.ws">lt@webcreator.ws</a></div>
            </div>
            <div class="col-md-4 col-lg-3 offset-lg-1 mb-4 mb-md-0 footer-mobile download-wrapper">
                <a href="/assets/WebCreator.pdf" target="_blank" class="footer__download-block">
                    <img src="/assets/img/download-img.png" alt="download">
                    <span class="footer__download-link">
                        Download Presentation
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="bottom-bar">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="copyright">
                        © 2069 Webcreator. <br> UI/UX, Web Design and App Development
                    </div>
                </div>
                <div class="col-lg-4 d-flex justify-content-center justify-content-lg-end">
                    <div class="bottom-bar__link"><a href="/">Services</a></div>
                    <div class="bottom-bar__link"><a href="https://blog.webcreator.ws/">Blog</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>