

<div class="feedback-section" id="feedback-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="feedback-section__title">
                    Let’s work together
                </div>
            </div>
        </div>

            <div class="wpcf7 no-js"  dir="ltr">
            <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
            <form action="https://formsubmit.co/lt@webcreator.ws" method="post" class="wpcf7-form init" aria-label="Контактна форма" novalidate="novalidate" data-status="init">
            <input type="hidden" name="_template" value="box">
            <div class="row">
                <div class="col-lg-6">
                    <p><span class="wpcf7-form-control-wrap" data-name="your-name"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required material-input" aria-required="true" aria-invalid="false" placeholder="Name" value="" type="text" name="name"></span>
                    </p>
                </div>
                <div class="col-lg-6">
                    <p><span class="wpcf7-form-control-wrap" data-name="your-email"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email material-input" aria-required="true" aria-invalid="false" placeholder="Email" value="" type="email" name="email"></span>
                    </p>
                </div>
                <div class="col-12">
                    <p><span class="wpcf7-form-control-wrap" data-name="your-message"><textarea cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required material-input textarea-h" aria-required="true" aria-invalid="false" placeholder="Describe the project" name="your-message"></textarea></span>
                    </p>
                </div>
                <div class="col-12 d-flex justify-content-center align-items-center mb-3 px-0 px-sm-3">
                    <p><input class="wpcf7-form-control has-spinner wpcf7-submit feedback-btn" type="submit" value="Send">
                    </p>
                </div>
            </div>
            </form>
            </div>

    </div>
</div>