<header class="header">
    <div class="header-colors">
        <div class="header-color"></div>
        <div class="header-color"></div>
        <div class="header-color"></div>
        <div class="header-color"></div>
        <div class="header-color"></div>
        <div class="header-color"></div>
    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a href="/" class="logo"><img src="/assets/img/logo.svg" alt="logo"></a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="header_menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse nav-links justify-content-end" id="navbar">
            	<a class="nav-link" href="/" aria-current="page"><span>Services</span></a>
<a class="nav-link" href="/work/"><span>Work</span></a>
<!-- <a class="nav-link" href="/about/"><span>About</span></a> -->
<a class="nav-link" href="#feedback-section"><span>Contact</span></a>

            </div>
        </div>
    </nav>
</header> 