<div class="latest-works">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <div class="latest-works__title">Our Latest Work</div>
                <a href="/work/" class="link-with-underline">See All</a>
            </div>


            <div class="col-sm-6">
                <div class="latest-works__item">
                     <a href="/work/templeton-music-store/"><div class="overflow-hidden"><img decoding="async" class="our-projects__item-img" src="/assets/img/last-work/templeton-digital-store.webp" alt="Digital store development"></div></a>
                    <div class="latest-works__item-title">
                        <a href="/work/templeton-music-store/">E-commerce development</a>
                    </div>
                </div>
            </div>


            <div class="col-sm-6">
                <div class="latest-works__item">
                    <a href="/work/life-goals-application-ui-and-ux/"><div class="overflow-hidden"><img decoding="async" class="our-projects__item-img" src="/assets/img/last-work/projects_lifegoals-app-design.webp" alt="iOS App UI/UX"></div></a>
                    <div class="latest-works__item-title">
                        <a href="/work/life-goals-application-ui-and-ux/">Lifetime Goals App</a>
                    </div>
                </div>
            </div>           

        </div>
    </div>
</div>