.advantage-img {
  min-height: 21.3em;
  position: relative;
  font-size: calc(0.05 * 585px);
}

.animation-block {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.animation-1 {
  background: url(/assets/img/animation-1/bg.png) no-repeat center center/cover;
  overflow: hidden;
}

.animation-1 .scene-1 {
  opacity: 0;
}

.animation-1 .scene-1 img.n-phone {
  width: 9.09em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: auto;
  max-width: none;
  -o-object-fit: fill;
  object-fit: fill;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.animation-1 .scene-1 img.above {
  position: absolute;
  bottom: calc(50% - 0.34em);
  right: calc(50% + 0.17em);
  width: 3.6em;
  height: auto;
  max-width: none;
  -o-object-fit: fill;
  object-fit: fill;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.animation-1 .scene-1 img.under {
  position: absolute;
  right: 50%;
  bottom: 31%;
  width: 3.08em;
  height: auto;
  max-width: none;
  -o-object-fit: fill;
  object-fit: fill;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.animation-1 .scene-2 {
  opacity: 0;
}

.animation-1 .scene-2 img.n-tablet {
  width: 15.18em;
  position: absolute;
  top: calc(50% - 8.05em);
  right: 0;
  height: auto;
  max-width: none;
  -o-object-fit: fill;
  object-fit: fill;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.animation-1 .scene-2 img.above {
  position: absolute;
  bottom: calc(50% - 1.7em);
  right: calc(25% + 0.68em);
  width: 8.2em;
  height: auto;
  max-width: none;
  -o-object-fit: fill;
  object-fit: fill;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.animation-1 .scene-3 img.n-tablet {
  width: 13.68em;
  position: absolute;
  bottom: 17%;
  right: 0;
  height: auto;
  max-width: none;
  -o-object-fit: fill;
  object-fit: fill;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.animation-1 .scene-3 img.n-phone {
  width: 7.32em;
  position: absolute;
  bottom: 0;
  left: 12%;
  height: auto;
  max-width: none;
  -o-object-fit: fill;
  object-fit: fill;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.animation-2 {
  background: url(/assets/img/animation-2/bg.png) no-repeat center center/cover;
  overflow: hidden;
}

.animation-2 .scene-1 {
  opacity: 0;
}

.animation-2 .scene-1 img.n-phone {
  width: 8.85em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: auto;
  max-width: none;
  -o-object-fit: fill;
  object-fit: fill;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.animation-2 .scene-1 img.top {
  position: absolute;
  bottom: calc(50% + 3.4em);
  left: calc(50% + 0.17em);
  width: 3.55em;
  border-radius: 0.2em;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  height: auto;
  max-width: none;
  -o-object-fit: fill;
  object-fit: fill;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.animation-2 .scene-1 img.bottom {
  position: absolute;
  top: calc(50% + 1.3em);
  left: calc(50% - 3.71em);
  width: 7.42em;
  border-radius: 0.2em;
  height: auto;
  max-width: none;
  -o-object-fit: fill;
  object-fit: fill;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.animation-2 .scene-2 {
  opacity: 0;
}

.animation-2 .scene-2 img.n-phone {
  width: 10.15em;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: auto;
  max-width: none;
  -o-object-fit: fill;
  object-fit: fill;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.animation-2 .scene-2 .blocks {
  height: 3.59em;
  width: 9.16em;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  bottom: 11.1em;
  overflow: hidden;
}

.animation-2 .scene-2 .blocks-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0.5em;
  left: 0.4em;
  height: 2.46em;
}

.animation-2 .scene-2 .blocks-inner img {
  height: 100%;
  margin-right: 0.31em;
  border-radius: 0.2em;
  width: auto;
  max-width: none;
  -o-object-fit: fill;
  object-fit: fill;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.animation-2 .scene-2 .blocks-inner img:last-child {
  margin: 0;
}

.animation-2 .scene-2 img.n-small {
  position: absolute;
  bottom: 6.9em;
  width: 0.75em;
  height: auto;
  max-width: none;
  -o-object-fit: fill;
  object-fit: fill;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.animation-2 .scene-2 img.n-small.n-small-1 {
  right: calc(50% - 4.1em);
  z-index: 5;
}

.animation-2 .scene-2 img.n-small.n-small-2 {
  right: calc(50% - 3.35em);
}

.animation-2 .scene-3 .side {
  position: absolute;
}

.animation-2 .scene-3 .side.-left {
  top: calc(50% - 8.8em);
  right: calc(50% + 0.5em);
}

.animation-2 .scene-3 .side.-right {
  bottom: calc(50% - 8.8em);
  left: calc(50% + 0.5em);
}

.animation-2 .scene-3 img.n-phone {
  display: block;
  width: 7.42em;
  height: auto;
  max-width: none;
  -o-object-fit: fill;
  object-fit: fill;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.animation-2 .scene-3 img.search {
  position: absolute;
  width: 6.46em;
  top: 21.5%;
  left: 6.5%;
  height: auto;
  max-width: none;
  -o-object-fit: fill;
  object-fit: fill;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.animation-2 .scene-3 img.block {
  position: absolute;
  width: 6.46em;
  bottom: 36.5%;
  left: 6.5%;
  height: auto;
  max-width: none;
  -o-object-fit: fill;
  object-fit: fill;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

@media only screen and (max-width: 1299px) {
  .advantage-img {
    font-size: calc(0.05 * 555px);
  }
}

@media only screen and (max-width: 1199px) {
  .advantage-img {
    font-size: calc(0.05 * 465px);
  }
}

@media only screen and (max-width: 991px) {
  .advantage-img {
    font-size: calc(0.05 * 345px);
  }
}

@media only screen and (max-width: 767px) {
  .advantage-img {
    font-size: calc(0.05 * 510px);
  }
}

@media only screen and (max-width: 575px) {
  .advantage-img {
    font-size: calc(0.05 * (100vw - 30px));
  }
}