---
import Layout from '../../layouts/BaseLayout.astro';
---

<Layout title="Abletunes Digital store | UI/UX, Apps design and Mobile-first Development – Digital Agency Webcreator">

<link rel="stylesheet" href="/styles/ableton.css">
<script src="../../assets/js/one.js"></script>
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>


<div class="work-overview-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="work-overview__subtitle">e-commerce Development v3</div>
                <h1 class="work-overview__title">Abletunes Digital store</h1>
            </div>
            <div class="col-lg-6">
                <p>
Premium royalty free Ableton Templates/Projects. Each template comes expertly mixed, mastered and arranged. Music production becomes easier.

                </p>
                <p>
Webcreator team designed the store on new core engine with fast loading and S3-compatible storage by Digital Ocean. New engine servers the site faster and more secure. 
</p>
<a href="https://abletunes.com/" target="_blank" rel="noopener">www.abletunes.com</a>
            </div>
        </div>
    </div>
</div>



<!-- FIRST BLOCK -->
   <div class="container">
      <div class="row" style="overflow:hidden; overflow-x: hidden">
         <div class="col-12">
            <div class="block block--first-animate block__bg-effect" style="background-image: url(/assets/img/work/ableton/animate-1.jpg)">
               <div class="block__inner">
                  <div class="block__header block__header--white d-flex justify-content-between">
                     <span class="block__text--small">Website development</span>
                     <span class="block__text--small">2022</span>
                  </div>

                  <div class="block__content">
                     <div class="block__logo text-center">
                        <img decoding="async" src="/assets/img/work/ableton/logo.png" alt="">
                     </div>
                  </div>
               </div>
            </div>

            <div class="block pt-5 pb-5">
               <div class="block__inner">
                  <div class="block__header">
                     <div class="row">
                        <div class="col-md-6">
                           <span class="block__text--small block__text--colored">About</span>
                        </div>

                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-8">
                                 <span class="block__text--standart block__text--black">
                                    Abletunes is a developer of music track and templates
                                    for upcoming musicians and producers.
                                 </span>
                              </div>

                              <div class="col-md-4 text-right">
                                 <span class="block__text--small block__text--colored">01</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- FIRST BLOCK -->
   <div class="container mb-5">
      <div class="row">
         <div class="col-12">
            <div class="block block--colored">
               <div class="block__inner">
                  <div class="block__header d-flex justify-content-between">
                     <span class="block__text--small block__text--colored">Desktop</span>

                     <span class="block__text--small block__text--colored">Homepage</span>

                     <span class="block__text--small block__text--colored">02</span>
                  </div>

                  <div class="block__content">
                     <div class="block__animate block__animate-top block__animate--duration text-center mb-4 mb-md-0">
                        <img decoding="async" src="/assets/img/work/ableton/animate-2-site-content.jpg" alt="">
                     </div>

                     <div class="block__animate block__animate-top block__animate--duration03 text-center mb-4 mb-md-0">
                        <img decoding="async" src="/assets/img/work/ableton/animate-2-site-features.jpg" alt="">
                     </div>

                     <div class="block__animate block__animate-top block__animate--duration04 text-center">
                        <img decoding="async" src="/assets/img/work/ableton/animate-2-site-end.jpg" alt="">
                     </div>
                  </div>

                  <div class="block__footer"></div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- THIRD BLOCK -->
   <div class="container mb-5">
      <div class="row">
         <div class="col-12">
            <div class="block">
               <div class="block__inner">
                  <div class="block__header d-flex justify-content-between">
                     <span class="block__text--small block__text--colored">Mobile</span>

                     <span class="block__text--small block__text--colored">Homepage</span>

                     <span class="block__text--small block__text--colored">03</span>
                  </div>

                  <div class="block__content">
                     <div class="row">
                        <div class="col-md-6 text-center">
                           <div class="block__animate block__animate-left block__animate--duration mb-4 mb-md-0">
                              <img decoding="async" src="/assets/img/work/ableton/mobile-1.png" alt="">
                           </div>
                        </div>

                        <div class="col-md-6 text-center">
                           <div class="block__animate block__animate-right block__animate--duration03">
                              <img decoding="async" src="/assets/img/work/ableton/mobile-2.png" alt="">
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="block__footer"></div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Fourth BLOCK -->
   <div class="container mb-5">
      <div class="row">
         <div class="col-12">
            <div class="block block--colored">
               <div class="block__inner">
                  <div class="block__header d-flex justify-content-between">
                     <span class="block__text--small block__text--colored">Desktop</span>

                     <span class="block__text--small block__text--center block__text--colored">Product page / Shopping cart / About us</span>

                     <span class="block__text--small block__text--colored">04</span>
                  </div>

                  <div class="block__content">
                     <div class="row">
                        <div class="col-md-6 text-center">
                           <div class="block__animate block__animate-left block__animate--duration mb-4 mb-md-0">
                              <img decoding="async" src="/assets/img/work/ableton/animate-4-left.jpg" alt="">
                           </div>
                        </div>

                        <div class="col-md-6 text-center">
                           <div class="block__animate block__animate-right block__animate--duration-03">
                              <img decoding="async" src="/assets/img/work/ableton/animate-4-top.jpg" alt="">
                           </div>

                           <div class="pt-3 pb-3 mt-3 mb-3 pt-md-5 pb-md-5 mt-md-5 mb-md-5">
                              <div class="row d-flex justify-content-center">
                                 <div class="col-3">
                                    <div class="block__animate block__animate-left block__animate--duration">
                                       <img decoding="async" src="/assets/img/work/ableton/animate-4--small-1.jpg" alt="">
                                    </div>
                                 </div>

                                 <div class="col-3">
                                    <div class="block__animate block__animate-bottom block__animate--duration-04">
                                       <img decoding="async" src="/assets/img/work/ableton/animate-4--small-2.jpg" alt="">
                                    </div>
                                 </div>

                                 <div class="col-3">
                                    <div class="block__animate block__animate-right block__animate--duration-05">
                                       <img decoding="async" src="/assets/img/work/ableton/animate-4--small-3.jpg" alt="">
                                    </div>
                                 </div>
                              </div>
                           </div>

                           <div class="block__animate block__animate-bottom block__animate--duration-05">
                              <img decoding="async" src="/assets/img/work/ableton/animate-4-bottom.jpg" alt="">
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="block__footer"></div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- FIVE BLOCK -->
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="block block--purple">
               <div class="block__inner">
                  <div class="block__header d-flex justify-content-between">
                     <span class="block__text--small block__text--colored">Mobile</span>

                     <span class="block__text--small block__text--colored">Product page</span>

                     <span class="block__text--small block__text--colored">05</span>
                  </div>

                  <div class="block__content">
                     <div class="row">
                       <div class="col-md-3 text-center">
                           <div class="block__animate block__animate-left block__animate--duration-03 mb-4 mb-md-0">
                              <img decoding="async" src="/assets/img/work/ableton/mobile-5-left.png" alt="">
                           </div>
                       </div>

                       <div class="col-md-6 text-center">
                           <div class="block__animate block__animate-bottom block__animate--duration mb-4 mb-md-0">
                              <img decoding="async" src="/assets/img/work/ableton/mobile-5-center.png" alt="">
                           </div>
                       </div>

                       <div class="col-md-3 d-flex align-items-end justify-content-center">
                           <div class="block__animate block__animate-right block__animate--duration-04">
                              <img decoding="async" src="/assets/img/work/ableton/mobile-5-right.png" alt="">
                           </div>
                       </div>
                     </div>
                  </div>

                  <div class="block__footer"></div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- SIX BLOCK -->
   <div class="container mb-5">
      <div class="row">
         <div class="col-12">
            <div class="block block--six block__bg-effect" style="background-image: url(/assets/img/work/ableton/background-bottom.jpg)"></div>
         </div>
      </div>
   </div>

   <!-- SEVEN BLOCK -->
   <div class="container mb-5">
      <div class="row">
         <div class="col-12">
            <div class="block">
               <div class="block__inner">
                  <div class="block__header d-flex justify-content-between">
                     <span class="block__text--small block__text--colored"></span>

                     <span class="block__text--small block__text--colored">Font / Colors</span>

                     <span class="block__text--small block__text--colored">06</span>
                  </div>

                  <div class="block__content">
                     <div class="row">
                       <div class="col-12 text-center">
                           <div class="block__animate">
                              <img decoding="async" src="/assets/img/work/ableton/image-seven-fonts.png" alt="">
                           </div>
                       </div>

                       <div class="col-12 mt-5">
                           <div class="grid grid-md-container grid-md-3 text-center block__animate">
                              <div class="grid-item" style="background-color: #fff;">#ffffff</div>
                              <div class="grid-item" style="background-color: #eef2f3;">#eef2f3</div>
                              <div class="grid-item" style="color:white; background-color: #3b3f45;">#3b3f45</div>
                              <div class="grid-item" style="color:white; background-color: #604be4;">#604be4</div>
                              <div class="grid-item" style="color:white; background-color: #c314f8;">#c314f8</div>
                              <div class="grid-item" style="color:white; background-color: #1ab5f1;">#1ab5f1</div>
                           </div>
                        </div>
                       </div>
                  </div>

                  <div class="block__footer"></div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- EIGHT BLOCK -->
   <div class="container mb-5">
      <div class="row">
         <div class="col-12">
            <div class="block block--colored">
               <div class="block__inner">
                  <div class="block__header d-flex justify-content-between">
                     <span class="block__text--small block__text--colored">Desktop</span>

                     <span class="block__text--small block__text--colored">My account</span>

                     <span class="block__text--small block__text--colored">07</span>
                  </div>

                  <div class="block__content">
                     <div class="block__animate text-center">
                        <img decoding="async" src="/assets/img/work/ableton/animate-7.jpg" alt="">
                     </div>
                  </div>

                  <div class="block__footer"></div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- NINE BLOCK -->
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="block block--dark-blue">
               <div class="block__inner">
                  <div class="block__header d-flex justify-content-between">
                     <span class="block__text--small block__text--colored">Mobile</span>

                     <span class="block__text--small block__text--center block__text--colored">Homepage / Shopping cart / Contact us / Menu / Login</span>

                     <span class="block__text--small block__text--colored">08</span>
                  </div>

                  <div class="block__content">
                     <div class="row">
                       <div class="col-md-4 d-flex flex-column justify-content-between align-items-center">
                           <div class="block__animate block__animate-top block__animate--duration mb-4 mb-md-0">
                              <img decoding="async" src="/assets/img/work/ableton/animate-nine-left.png" alt="">
                           </div>
                       </div>

                       <div class="col-md-4 d-flex flex-column justify-content-between align-items-center mb-4 mb-md-0">
                           <div class="block__animate block__animate-bottom block__animate--duration03 mb-4 mb-md-0">
                              <img decoding="async" src="/assets/img/work/ableton/animate-nine-top.png" alt="">
                           </div>

                           <div class="block__animate block__animate-bottom block__animate--duration04">
                              <img decoding="async" src="/assets/img/work/ableton/animate-nine-bottom.png" alt="">
                           </div>
                       </div>

                       <div class="col-md-4 d-flex flex-column justify-content-between align-items-center">
                           <div class="block__animate block__animate-right block__animate--duration05">
                              <img decoding="async" src="/assets/img/work/ableton/animate-nine-right-top.png" alt="">
                           </div>

                           <div class="block__animate block__animate-bottom block__animate--duration05">
                              <img decoding="async" src="/assets/img/work/ableton/animate-nine-right-bottom.png" alt="">
                           </div>
                       </div>
                     </div>
                  </div>

                  <div class="block__footer"></div>
               </div>
            </div>
         </div>
      </div>
   </div>

<p><br></p>

</Layout>
