---
import Layout from '../../layouts/BaseLayout.astro';
---

<Layout title="BlueAuditor - SaaS web application Green Building Certification – Digital Agency Webcreator">

<div class="work-overview-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="work-overview__subtitle">UI/UX Design / Development</div>
                <h1 class="work-overview__title">BlueAuditor</h1>
            </div>
            <div class="col-lg-6">
                <p>
                    SaaS web application which enables Green Building Certification of construction projects.
BlueAuditor is a digital platform that brings together major green building certification standards in one single platform.
                </p>
                <p>
                    We have identified a series of reasons for which customers access the platform. 
For each of them, we have thought and implemented a user-friendly clean interface, enabling visitors to reach their objectives as quickly and pleasantly as possible.
                </p>
                <a href="http://www.blueauditor.com/" target="_blank" rel="noopener noreferrer">www.blueauditor.com</a>
            </div>
        </div>
    </div>
</div>

<div class="work-overview-images">
    <div class="container">
        <div class="row">
            <div class="col-12"><figure><img src="/assets/img/work/blueauditor/tablet.png" alt="tablet"></figure></div>
            <div class="col-md-6"><figure><img src="/assets/img/work/blueauditor/blue-auditor.png" alt="blue-auditor"></figure></div>
            <div class="col-md-6"><figure><img src="/assets/img/work/blueauditor/checkmark.png" alt="checkmark"></figure></div>
<div class="col-12" style="text-align: center;" id="video"><video controls="1" loop="1" autoplay="1" playsinline="1" muted="1" width="100%"> <source src="/assets/img/work/blueauditor/ipad.mp4" type="video/mp4"> <figure><img class="example2" style="display: block; margin-left: auto; margin-right: auto; border: 0px;" src="/wp-content/bluauditor/ipad.gif" border="0"></figure> </video></div>

            <div class="col-12"><figure><img src="/assets/img/work/blueauditor/crm-big.png" alt="crm"></figure></div>
            <div class="col-12"><figure><img src="/assets/img/work/blueauditor/layouts.png" alt="layouts"></figure></div>
            <h2 class="col-lg-6 work-overview-text__title">Be mobile ready to work anywhere</h2>
            <div class="col-lg-6 work-overview-text">
                <p>
The platform is fully responsive and fast loading. All of its features could be used from mobile phones as effective as from the computer. 
                </p>
            </div>
        </div>
    </div>
    <figure><img src="/assets/img/work/blueauditor/tablet2.png" alt="tablet" class="mx-auto d-block"></figure>
    <div class="container">
        <div class="row">
            <div class="col-12"><figure><img src="/assets/img/work/blueauditor/crm.png" alt="crm"></figure></div>
            <div class="col-12"><figure><img src="/assets/img/work/blueauditor/2phones.png" alt="2 phones"></figure></div>
            <h2 class="col-lg-6 work-overview-text__title">Green Building Certification</h2>
            <div class="col-lg-6 work-overview-text">
                <p>
Blue Auditor enables green building certification for the entire real estate portfolio. A unique platform for sustainability in the real estate industry:
                </p>
<ul>
<li>Free pre-check of projects sustainability</li>
<li>Online project registration at DGNB / ÖGNI</li>
<li>Integrated Team Chat</li>
<li>Access to best-practice project documentation and decision-making characteristics</li>
<li>Define individual contact with DGNB consultant for an exact product</li>
</ul>
            </div>
            <div class="col-12"><figure><img src="/assets/img/work/blueauditor/mockup.png" alt="mockup"></figure></div>
            <h2 class="col-lg-6 work-overview-text__title">Basic Features</h2>
            <div class="col-lg-6 work-overview-text">
<p><b class="d-block">Self-Service Pre-Assessment</b>
Self-Service Tool delivers a comprehensive green building pre-assessment of your project.
</p>
                <p>
<b class="d-block">Online Market Place</b>
Provide access to expert consultants focusing on green building services to achieve and improve certification​ objectives.
                </p>
                <p>
                    <b class="d-block">Life-Cycle Analysis</b>
An integrated module for life-cycle analysis including impact analysis. Assess project variations, reduce project risks and increase sustainability impact.
                </p>
            </div>
            <div class="col-12"><figure><img src="/assets/img/work/blueauditor/2phones2.png" alt="2 phones"></figure></div>
        </div>
    </div>
</div>


<p>
    <br>
    <br>
</p>


</Layout>
