---
import Layout from '../../layouts/BaseLayout.astro';
---

<Layout title="Branding and digital design for CRM Data Solutions | UI/UX, Apps design and Mobile-first Development – Digital Agency Webcreator">
    

    <div class="work-overview-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="work-overview__subtitle">Branding and Digital Design</div>
                    <h1 class="work-overview__title">CRM Data Solutions</h1>
                </div>
                <div class="col-lg-6">
                    <p>
                        CRM Data Solutions is a new data consulting agency based in London.  
                    </p>
                    <p>
    Webcreator’s challenge was to design the brand identity and digital design of various stuff that show data as the heart of what they do. 
                    </p>
                    <p>
    The company’s goal is to show a better way to conduct business. By being honest and treating clients problems as if they were their own, CRM Data Solutions believes that they can create an environment for innovative thinking and creative problem-solving.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <div class="work-overview-images">
        <div class="container">
            <div class="row">
                <div class="col-12"><figure><img decoding="async" src="/assets/img/work/crm/crm_1bg.jpg" alt="tablet">
    
    <img decoding="async" src="/assets/img/work/crm/crm_logo_white_animated.svg" alt="logo" class="crm_data_solutions">
    </figure></div>
                <div class="col-12"><figure><img decoding="async" src="/assets/img/work/crm/crm_2.jpg" alt="tablet"></figure></div>
    <div class="col-12 picture-text"><p>The shapes of the logo can be used in a variety of ways, here in a potential design for advertising</p>
               </div>
                <div class="col-12"><figure><img decoding="async" src="/assets/img/work/crm/crm_3.jpg" alt="tablet"></figure></div>
                <div class="col-12"><figure><img decoding="async" src="/assets/img/work/crm/crm_4.jpg" alt="tablet"></figure></div>
                <div class="col-12"><figure><img decoding="async" src="/assets/img/work/crm/crm_5.jpg" alt="tablet"></figure></div>
                <div class="col-12"><figure><img decoding="async" src="/assets/img/work/crm/crm_6.jpg" alt="tablet"></figure></div>
    <div class="col-12 picture-text"><p>Design for a possible brand application</p>
               </div>
                <div class="col-12"><figure><img decoding="async" src="/assets/img/work/crm/crm_7.jpg" alt="tablet"></figure></div>
                <div class="col-12"><figure><img decoding="async" src="/assets/img/work/crm/crm_8.jpg" alt="tablet"></figure></div>
    <div class="col-12 picture-text"><p>Mobile-first web site design</p>
               </div>
                <div class="col-12"><figure><img decoding="async" src="/assets/img/work/crm/crm_9.jpg" alt="tablet"></figure></div>
    <div class="col-12 picture-text"><p>
    Social media branding and advertising template</p>
               </div>
                <div class="col-12"><figure><img decoding="async" src="/assets/img/work/crm/crm_11.jpg" alt="tablet"></figure></div>
                <div class="col-12"><figure><img decoding="async" src="/assets/img/work/crm/crm_12.jpg" alt="tablet"></figure></div>
     <div class="col-12 picture-text"><p>Rubik’s Cube</p>
               </div>
                <div class="col-12"><figure><img decoding="async" src="/assets/img/work/crm/crm_10.jpg" alt="tablet"></figure></div>
            </div>
        </div>
    
    </div>


</Layout>
