---
import Layout from '../../layouts/BaseLayout.astro';
---

<Layout title="Illements is a new samples and loop subscription service | UI/UX, Apps design and Mobile-first Development – Digital Agency Webcreator">


<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
 <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

<link rel="stylesheet" href="/styles/illements.css">
<script src="../../assets/js/illements.js"></script>

    

<div class="work-overview-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="work-overview__subtitle">Samples and loop subscription service</div>
                <h1 class="work-overview__title">Illements store</h1>
            </div>
            <div class="col-lg-6">
                <p>
At illements, our goal is to enable music producers to access high-quality samples that are used by professionals to create hit songs across different genres including pop, hip hop and EDM.
</p>
<p> Webcreator team  have developed an innovative subscription service that makes it easy and affordable for customers to find the right sounds for their projects. Our advanced search engine and precise categorizing ensure that you can quickly locate the samples that meet your needs without any hassle.
</p>

<a href="https://illements.com/" target="_blank" rel="noopener">www.illements.com</a>
            </div>
        </div>
    </div>
</div>



<!-- FIRST BLOCK -->
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="hero block block--first-animate block__bg-effect" style="background-image: url(/assets/img/work/illements/bg.jpg)">
               <div class="block__inner">
                  <div class="block__content">
                     <div class="block__logo text-center text-white">
                        <img decoding="async" src="/assets/img/work/illements/illements-logo.png" alt="" class="animate-logo block__animate block__animate-top">

                        <div class="block__text animate-title block__animate block__animate-top block__animate--duration-03">
                           <p>Provides you with easy access to the same high-quality samples used by professional producers</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

<!-- Description Block -->
  <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="block">
               <div class="block__inner">
                  <div class="block__header_big d-flex justify-content-between">
                     <span class="block__text--small block__text--colored">About</span>

                     <span class="block__text_title">Illements is a new samples and loop subscription service from a team of music professionals with over 20 years of experience in the music industry </span>

                     <span class="block__text--small block__text--colored"></span>
                  </div>

                  <div class="block__footer"></div>
               </div>
            </div>
         </div>
      </div>
   </div>



    <!-- SECOND BLOCK -->
    <div class="container mb-5">
      <div class="row">
         <div class="col-12">
            <div class="block">
               <div class="block__inner">
                  <div class="block__animate block__animate-top block__animate--duration text-center mb-md-0">
                                 <div class="swiper-slide"><img decoding="async" src="/assets/img/work/illements/4_3-video.png" alt=""></div>
                  </div>

                  <div class="block__footer"></div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- THIRD BLOCK -->
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="block block--colored">
               <div class="block__inner">
                  <div class="block__header d-flex justify-content-between">
                     <span class="block__text--small block__text--colored">01</span>

                     <span class="block__text--small block__text--small block__text--colored">  </span>

                     <span class="block__text--small block__text--colored">Main screen</span>
                  </div>

                  <div class="block__content">
                     <div class="block__animate block__animate-top block__animate--duration mb-4 mb-md-0 text-center">
                        <img decoding="async" src="/assets/img/work/illements/home-page.png" alt="">
                     </div>
                  </div>

                  <div class="block__footer"></div>
               </div>
            </div>
         </div>
      </div>
   </div>

   
    <!-- Phones on left - bg on right BLOCK -->
    <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="grid grid-md-2">
               <div class="grid-col iphone-top text-center overflow-hidden bg-gradient">
                  <div class="item-inner animation-phone ">
                     <img decoding="async" src="/assets/img/work/illements/phone-1-1.png" class="first-phone animation-phone__toright" alt="">
                     <img decoding="async" src="/assets/img/work/illements/phone-1-2.png" class="second-phone animation-phone__toleft" alt="">
                  </div>
               </div>

               <div class="grid-col text-center block__black overflow-hidden">
                  <div class="item-inner animation-phone-bg ">
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

<!-- Description Block -->
  <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="block">
               <div class="block__inner">
                  <div class="block__header_big d-flex justify-content-between">
                     <span class="block__text--small block__text--colored">Engine</span>

                     <span class="block__text_title">Our subscription service eliminates the need for credits, licensing issues, hidden fees, limits or any other unnecessary barriers that can get in the way of your creativity. </span>

                     <span class="block__text--small block__text--colored"></span>
                  </div>

                  <div class="block__footer"></div>
               </div>
            </div>
         </div>
      </div>
   </div> 


  <!-- Set of devices BLOCK -->
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="block--colored-gr">
                  <div class="block__content">
                     <div class=" mb-4 mb-md-0 block__set">
                        <img decoding="async" src="/assets/img/work/illements/set-mac.png" class="set-mac set-mac__animate block__animate block__animate-top " alt="">
                        <img decoding="async" src="/assets/img/work/illements/set-note.png" class="set-note set-note__animate  block__animate block__animate-left block__animate--duration-05 " alt="">
                        <img decoding="async" src="/assets/img/work/illements/set-ipad.png" class="set-ipad set-ipad__animate  block__animate block__animate-right block__animate--duration-04 " alt="">
                        <img decoding="async" src="/assets/img/work/illements/set-phone.png" class="set-iphone set-iphone__animate  block__animate block__animate-top block__animate--duration-05" alt="">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   
  <!-- Seach results BLOCK -->
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="block block--colored">
               <div class="block__inner">
                  <div class="block__header d-flex justify-content-between">
                     <span class="block__text--small block__text--colored">02</span>

                     <span class="block__text--small block__text--colored"> </span>

                     <span class="block__text--small block__text--colored">Search Results</span>
                  </div>

                  <div class="block__content">
                     <div class="block__animate block__animate-top block__animate--duration mb-4 mb-md-0 text-center">
                        <img decoding="async" src="/assets/img/work/illements/search-screen.png" alt="">
                     </div>
                  </div>

                  <div class="block__footer"></div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- FOUR BLOCK -->
    <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="grid grid-md-2">
               <div class="grid-col text-center block__black overflow-hidden">
                  <div class="item-inner animation-phone-bg-3 ">
                     
                  </div>
               </div>
               <div class="grid-col iphone-top text-center overflow-hidden bg-gradient">
                  <div class="item-inner animation-phone">
                     <img decoding="async" src="/assets/img/work/illements/ipad-2.png" class="ipad-2 animation-ipad" alt="">
                  </div>
               </div>               
            </div>
         </div>
      </div>
   </div>

    <!-- iPad sliders BLOCK -->
    <div class="container mb-5">
      <div class="row">
         <div class="col-12">
            <div class="block ">
               <div class="block__inner">
                  <div class="block__header_white d-flex justify-content-between">
                     <span class="block__text--small block__text--colored">03</span>

                     <span class="block__text--center block__text--small block__text--colored"></span>

                     <span class="block__text--small block__text--colored">My Profile</span>
                  </div>

                  <div class="block__animate block__animate-top block__animate--duration text-center mb-4 mb-md-0">
                     <div class="slider slider--ipad">
                        <div class="slider__inner">
                           <div class="slider-js">
                              <div class="swiper-wrapper">
                                 <div class="swiper-slide"><img decoding="async" src="/assets/img/work/illements/ipads-1.png" alt=""></div>

                                 <div class="swiper-slide"><img decoding="async" src="/assets/img/work/illements/ipads-2.png" alt=""></div>

                                 <div class="swiper-slide"><img decoding="async" src="/assets/img/work/illements/ipads-3.png" alt=""></div>
                               </div>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="block__footer"></div>
               </div>
            </div>
         </div>
      </div>
   </div>

    <!-- Two screens inline BLOCK -->
    <div class="container">   
      <div class="row">
         <div class="col-12">
            <div class="block block--colored">
               <div class="block__inner">
                  <div class="block__header d-flex justify-content-between"> <span class="block__text--small block__text--colored">04</span> <span class="block__text--small block__text--center block__text--colored"> </span> <span class="block__text--small block__text--colored">Blog</span></div>
                  <div class="block__content">
                     <div class="row">
                        <div class="col-md-6 text-center">
                           <div class="block__animate block__animate-top block__animate--duration mb-4 mb-md-0 animate"> <img decoding="async" src="/assets/img/work/illements/set2-1.png" alt=""></div>
                        </div>
                        <div class="col-md-6 text-center">
                           <div class="block__animate block__animate-top block__animate--duration-03 animate"> <img decoding="async" src="/assets/img/work/illements/set2-2.png" alt=""></div>
                           <!-- seems it is mobile view 
                           <div class="pt-3 pb-3 mt-3 mb-3 pt-md-5 pb-md-5 mt-md-5 mb-md-5">
                              <div class="row d-flex justify-content-center">
                                 <div class="col-3">
                                    <div class="block__animate block__animate-left block__animate--duration"> <img decoding="async" src="/assets/img/work/illements/set2-1.png" alt=""></div>
                                 </div>
                                 <div class="col-3">
                                    <div class="block__animate block__animate-bottom block__animate--duration-04"> <img decoding="async" src="/assets/img/work/illements/set2-2.png" alt=""></div>
                                 </div>
                              </div>
                           </div>
                            -->
                        </div>
                     </div>
                  </div>
                  <div class="block__footer"></div>
               </div>
            </div>
         </div>
      </div>
</div>
<!-- Description Block -->
  <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="block">
               <div class="block__inner">
                  <div class="block__header_big d-flex justify-content-between">
                     <span class="block__text--small block__text--colored">About</span>

                     <span class="block__text_title">Join Illements today and unlock your musical potential!</span>

                     <span class="block__text--small block__text--colored"></span>
                  </div>

                  <div class="block__footer"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
  <!-- Phones on left - bg on right BLOCK -->
    <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="grid grid-md-2">
               <div class="grid-col iphone-top text-center overflow-hidden bg-gradient">
                  <div class="block__animate block__animate-bottom block__animate--duration-04 animate item-inner logo-bottom">
                     <img decoding="async" src="/assets/img/work/illements/illements-bottom.png" class="logo-bottom-img" alt="">
                  </div>
               </div>

               <div class="grid-col text-center block__black overflow-hidden">
                  <div class="item-inner animation-phone-bg-4 ">
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

<p>
    <br>
    <br>
</p>


</Layout>
