---
import Layout from '../../layouts/BaseLayout.astro';
---

<Layout title="Design System, UI/UX and App Prototyping | UI/UX, Apps design and Mobile-first Development – Digital Agency Webcreator">


<link rel="stylesheet" href="/styles/join-animation.min.css">
<script src="../../assets/js/join-animation.min.js"></script>

    

<div class="work-overview-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="work-overview__subtitle">UI/UX and Design System</div>
                <h1 class="work-overview__title">JOYN Analytics</h1>
            </div>
            <div class="col-lg-6">
                <p>
                    JOYN Analytics platform is a new production analytics iOS app with a wide range of dashboards and reports.  
                </p>
                <p>
Empower operations to reallocate time and resources from data aggregation to production optimization. Monitor daily production variance, targets and loss analysis, along with downtime categories
                </p>
                <p>
Webcreator team designed the app identity, design system, prototype of various screens and user interfaces. 
</p>
                <p>
Design system is a collection of reusable components, guided by clear standards, that can be assembled together to build any number of applications.
                </p>
                <a href="https://www.sevenlakes.com/" target="_blank" rel="noopener noreferrer">www.sevenlakes.com</a>
            </div>
        </div>
    </div>
</div>



<div class="work-overview-images joyn">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="joyn-scene scene-0">
                    <img decoding="async" class="logo" src="/assets/img/work/joyn/scene-0/logo.png" alt="logo">
                    <div class="scene-0-info">
                        <div class="scene-0-company">
                            Joyn Analytics 
                        </div>
                        <div class="scene-0-title">
                            Mobile <br> Application
                        </div>
                    </div>
                    <div class="scene-0-phones">
                        <img decoding="async" class="phone-1" src="/assets/img/work/joyn/scene-0/phone-1.png" alt="phone">
                        <img decoding="async" class="phone-2" src="/assets/img/work/joyn/scene-0/phone-2.png" alt="phone">
                        <img decoding="async" class="phone-3" src="/assets/img/work/joyn/scene-0/phone-3.png" alt="phone">
                        <img decoding="async" class="phone-4" src="/assets/img/work/joyn/scene-0/phone-4.png" alt="phone">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="joyn-scene scene-1">
                    <div class="scene-1-inner">
                        <div class="joyn-scene-info">
                            <span>
                                01.
                            </span>
                            Main Screen
                        </div>
                        <div class="scene-1-blocks">
                            <img decoding="async" class="block-1" src="/assets/img/work/joyn/scene-1/block-1.png" alt="block">
                            <img decoding="async" class="block-2" src="/assets/img/work/joyn/scene-1/block-2.png" alt="block">
                            <img decoding="async" class="block-3" src="/assets/img/work/joyn/scene-1/block-3.png" alt="block">
                            <img decoding="async" class="block-4" src="/assets/img/work/joyn/scene-1/block-4.png" alt="block">
                        </div>
                    </div>
                    <div class="joyn-phone scene-1-phone">
                        <img decoding="async" src="/assets/img/work/joyn/scene-1/phone.png" alt="phone">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="joyn-scene scene-2">
                    <div class="joyn-scene-info">
                        <span>
                            02.
                        </span>
                        Dashboards
                    </div>
                    <div class="joyn-phone phone-1">
                        <img decoding="async" src="/assets/img/work/joyn/scene-2/phone-1.png" alt="phone">
                    </div>
                    <div class="joyn-phone phone-2">
                        <img decoding="async" src="/assets/img/work/joyn/scene-2/phone-2.png" alt="phone">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="joyn-scene scene-3">
                    <div class="joyn-scene-info">
                        <span>
                            03.
                        </span>
                        Login
                    </div>
                    <div class="scene-3-phones">
                        <div class="joyn-phone phone-1">
                            <img decoding="async" src="/assets/img/work/joyn/scene-3/phone-1.png" alt="phone">
                        </div>
                        <div class="joyn-phone phone-2">
                            <img decoding="async" src="/assets/img/work/joyn/scene-3/phone-2.png" alt="phone">
                        </div>
                        <div class="joyn-phone phone-3">
                            <img decoding="async" src="/assets/img/work/joyn/scene-3/phone-3.png" alt="phone">
                        </div>
                        <div class="joyn-phone phone-4">
                            <img decoding="async" src="/assets/img/work/joyn/scene-3/phone-4.png" alt="phone">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="joyn-scene scene-4">
                    <div class="joyn-scene-info">
                        <span>
                            04.
                        </span>
                        Reports
                    </div>
                    <div class="joyn-phone phone-1">
                        <img decoding="async" class="phone-main" src="/assets/img/work/joyn/scene-4/phone.png" alt="phone">
                        <img decoding="async" class="phone-screen phone-screen-1" src="/assets/img/work/joyn/scene-4/screen-1.png" alt="phone">
                    </div>

                    <div class="joyn-phone phone-2">
                        <img decoding="async" class="phone-main" src="/assets/img/work/joyn/scene-4/phone.png" alt="phone">
                        <img decoding="async" class="phone-screen phone-screen-1" src="/assets/img/work/joyn/scene-4/screen-1.png" alt="phone">
                        <img decoding="async" class="phone-screen phone-screen-2" src="/assets/img/work/joyn/scene-4/screen-2.png" alt="phone">
                        <img decoding="async" class="phone-screen phone-screen-3" src="/assets/img/work/joyn/scene-4/screen-3.png" alt="phone">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="joyn-scene scene-5">
                    <div class="joyn-scene-info">
                        <span>
                            05.
                        </span>
                        Dashboard <br>
                        overview
                    </div>
                    <img decoding="async" class="screen" src="/assets/img/work/joyn/scene-5/screen.png" alt="screen">
                    <div class="joyn-phone phone-1">
                        <img decoding="async" src="/assets/img/work/joyn/scene-5/phone-1.png" alt="phone">
                    </div>
                    <div class="joyn-phone phone-2">
                        <img decoding="async" src="/assets/img/work/joyn/scene-5/phone-2.png" alt="phone">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="joyn-scene scene-6">
                    <div class="joyn-scene-info">
                        <span>
                            06.
                        </span>
                        Dark mode
                    </div>
                    <div class="scene-6-phones">
                        <img decoding="async" class="phone-1" src="/assets/img/work/joyn/scene-6/phone-1.png" alt="phone">
                        <img decoding="async" class="phone-2" src="/assets/img/work/joyn/scene-6/phone-2.png" alt="phone">
                        <img decoding="async" class="phone-3" src="/assets/img/work/joyn/scene-6/phone-3.png" alt="phone">
                        <img decoding="async" class="phone-4" src="/assets/img/work/joyn/scene-6/phone-4.png" alt="phone">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="joyn-scene scene-7">
                    <div class="scene-7-inner">
                        <div class="screen">
                            <img decoding="async" src="/assets/img/work/joyn/scene-7/screen-1.png" alt="screen">
                        </div>
                        <div class="screen">
                            <img decoding="async" src="/assets/img/work/joyn/scene-7/screen-2.png" alt="screen">
                        </div>
                        <div class="screen">
                            <img decoding="async" src="/assets/img/work/joyn/scene-7/screen-3.png" alt="screen">
                        </div>
                        <div class="screen">
                            <img decoding="async" src="/assets/img/work/joyn/scene-7/screen-4.png" alt="screen">
                        </div>
                        <div class="screen">
                            <img decoding="async" src="/assets/img/work/joyn/scene-7/screen-5.png" alt="screen">
                        </div>
                        <div class="screen">
                            <img decoding="async" src="/assets/img/work/joyn/scene-7/screen-6.png" alt="screen">
                        </div>
                        <div class="screen">
                            <img decoding="async" src="/assets/img/work/joyn/scene-7/screen-7.png" alt="screen">
                        </div>
                        <div class="screen">
                            <img decoding="async" src="/assets/img/work/joyn/scene-7/screen-8.png" alt="screen">
                        </div>
                        <div class="screen">
                            <img decoding="async" src="/assets/img/work/joyn/scene-7/screen-9.png" alt="screen">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



</Layout>
