---
import Layout from '../../layouts/BaseLayout.astro';
---

<Layout title="Life Goals Application UI and UX | UI/UX, Apps design and Mobile-first Development – Digital Agency Webcreator">


<div class="work-overview-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="work-overview__subtitle">App UI/UX and Development</div>
                <h1 class="work-overview__title">Lifetime Goals App</h1>
            </div>
            <div class="col-lg-6">
                <p>
A simple planner to set major goals of your life.
Lifetime Goals isn’t just an app, but a technique of planning your life.
Humans are limited on time. Understanding this is key to set the major goals of life and concentrate on achieving them.
</p>
<p>
Lifetime Goals is the plainest app with basic functionality and neat design to focus on your goals, not an app.

You can set life goals for whole your life, year, month, or the current week.

                </p>
                <p>
Webcreator team designed the app identity and design system.  Figma was used to prototype app and draw user interfaces. And React Native to program the app. 
</p>

<div style="text-align:center">
<a href="https://play.google.com/store/apps/details?id=com.wclifegoals&amp;pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" style="border: 0; margin-left:-10px" target="_blank" rel="noopener"><img decoding="async" alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png" style="height: auto;width: 190px;"></a>

<a href="https://apps.apple.com/us/app/lifetime-goals/id1619815128?itsct=apps_box_badge&amp;itscg=30200" target="_blank" style="overflow: hidden; border-radius: 5px; width: 150px;" rel="noopener"><img decoding="async" src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/white/en-us?size=250x83&amp;releaseDate=1651449600&amp;h=13b577c775855a5a6eb8e2576cb3f0fa" alt="Download on the App Store" style="border-radius: 5px; width: 150px; "></a>
</div>
            </div>
        </div>
    </div>
</div>



<div class="work-overview-images">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="life-goals">
					<div class="life-goals-title wow fadeInLeft" data-wow-duration="1s">Life Goals App</div>
					<div class="life-goals-text wow fadeInLeft" data-wow-duration="1s">A simple planner to set major goals of your life.</div>
					<img decoding="async" class="life-goals-hourglass" src="/assets/img/work/life/01_hourglass.png" alt="Life goals application design">
					<div class="life-goals-phone-wrapper fadeInUp wow" data-wow-duration="1.5s">
						<img decoding="async" src="/assets/img/work/life/01_phone.png" class="life-goals-phone nolazyload">
						<img decoding="async" src="/assets/img/work/life/01_1.png" class="life-goals-goal-1 wow nolazyload" data-wow-duration="1s" data-wow-delay="1.8s">
						<img decoding="async" src="/assets/img/work/life/01_2.png" class="life-goals-goal-2 wow nolazyload" data-wow-duration=".8s" data-wow-delay="1.8s">
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="main-screen">
					<img decoding="async" src="/assets/img/work/life/02_phone_1.png" class="main-screen-phone wow nolazyload fadeInLeft" data-wow-duration="1s" data-wow-offset="250">
					<div class="main-screen-text">
						<div class="life-goals-page-title">Main screen</div>
						<div class="life-goals-page-subtitle">Easy functionality to focus on your goals. With countdown as a reminder of how many years left to realize the goals of your life.</div>
						<img decoding="async" src="/assets/img/work/life/02_01.png">
						<img decoding="async" src="/assets/img/work/life/02_02.png">
					</div>
				</div>
				<div class="done-and-delete">
					<div class="done-and-delete-text">
						<div class="life-goals-page-title">Done and delete</div>
						<div class="life-goals-page-subtitle">Swipe a task to the left to set it done or swipe a task to the right to delete it.</div>
						<div class="done-and-delete-images">
							<img decoding="async" src="/assets/img/work/life/02_done.png">
							<img decoding="async" src="/assets/img/work/life/02_delete.png">
						</div>
					</div>
					<div class="done-and-delete-phone wow fadeInRight" data-wow-duration="1s" data-wow-offset="250">
						<div class="done-and-delete-motocycle">
							<div class="button-wrapper wow" data-duration="1s" data-wow-delay="1s" data-wow-offset="50">
								<img decoding="async" src="/assets/img/work/life/02_03.png">
								<div class="delete-button">
									<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><path fill="currentColor" d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"></path></svg>
								</div>
							</div>
						</div>
						<div class="done-and-delete-house">
							<div class="button-wrapper wow" data-duration="1s" data-wow-delay="1s" data-wow-offset="50">
								<div class="done-button">
									<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"><path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg>
								</div>
								<img decoding="async" src="/assets/img/work/life/02_04.png">
							</div>
						</div>
						<img decoding="async" src="/assets/img/work/life/02_phone_2.png" class="nolazyload">
					</div>
				</div>
				<figure style="position: absolute;top: 54px;right: 0;left: 54px;opacity: .35;display: none;"> 
					<img decoding="async" src="/assets/img/work/life/021.png" alt="Life goals application design">
				</figure>
			</div>
			<div class="col-12">
				<div class="new-goal">
					<div class="life-goals-page-title">Add new goal</div>
					<div class="life-goals-page-subtitle">To add a new goal, just click <br> on the “+” button.</div>
					<div class="new-goal-phone-wrapper">
						<img decoding="async" src="/assets/img/work/life/03_camera.png" class="new-goal-icon camera wow nolazyload" data-wow-duration="1s" data-wow-delay=".5s" data-wow-offset="100">
						<img decoding="async" src="/assets/img/work/life/03_mountain.png" class="new-goal-icon mountain wow nolazyload" data-wow-duration="1s" data-wow-delay=".5s" data-wow-offset="100">
						<img decoding="async" src="/assets/img/work/life/03_tree.png" class="new-goal-icon tree wow nolazyload" data-wow-duration="1s" data-wow-delay=".5s" data-wow-offset="100">
						<img decoding="async" src="/assets/img/work/life/03_bus.png" class="new-goal-icon bus wow nolazyload" data-wow-duration="1s" data-wow-delay=".5s" data-wow-offset="100">
						<img decoding="async" src="/assets/img/work/life/03_wineglass.png" class="new-goal-icon wineglass wow nolazyload" data-wow-duration="1s" data-wow-delay=".5s" data-wow-offset="100">
						<img decoding="async" src="/assets/img/work/life/03_planet.png" class="new-goal-icon planet wow nolazyload" data-wow-duration="1s" data-wow-delay=".5s" data-wow-offset="100">
						<img decoding="async" src="/assets/img/work/life/03_t_shirt.png" class="new-goal-icon t_shirt wow nolazyload" data-wow-duration="1s" data-wow-delay=".5s" data-wow-offset="100">
						<img decoding="async" src="/assets/img/work/life/03_map_point.png" class="new-goal-icon map_point wow nolazyload" data-wow-duration="1s" data-wow-delay=".5s" data-wow-offset="100">

						<img decoding="async" src="/assets/img/work/life/03_phone.png" class="new-goal-phone nolazyload fadeIn wow" data-wow-duration="1s" data-wow-delay=".5s">
					</div>
					<div class="new-goal-footer"></div>
				</div>
			</div>
			<div class="col-12">
				<div class="four-periods">
					<div class="four-periods-phone-wrapper">
						<img decoding="async" src="/assets/img/work/life/04_phone.png" class="four-periods-phone nolazyload fadeIn wow" data-wow-duration="1.5s" data-wow-offset="250">
						<img decoding="async" src="/assets/img/work/life/04_life.png" class="four-periods-life nolazyload fadeInDown wow" data-wow-duration="1s" data-wow-offset="250" data-wow-delay="1.5s">
						<img decoding="async" src="/assets/img/work/life/04_year.png" class="four-periods-year nolazyload fadeInDown wow" data-wow-duration="1s" data-wow-offset="250" data-wow-delay="1s">
						<img decoding="async" src="/assets/img/work/life/04_month.png" class="four-periods-month nolazyload fadeInDown wow" data-wow-duration="1s" data-wow-offset="250" data-wow-delay=".5s">
						<img decoding="async" src="/assets/img/work/life/04_week.png" class="four-periods-week nolazyload fadeInDown wow" data-wow-duration="1s" data-wow-offset="250">
					</div>
					<div class="four-periods-text">
						<div class="life-goals-page-title">Four periods</div>
						<div class="life-goals-page-subtitle">Set your Life, Year, Month or <br> current Week to-do list.</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="splash-screens">
					<div class="splash-screens-text">
						<div class="life-goals-page-title white">Splash <br> screens</div>
						<div class="life-goals-page-subtitle white">Tha main advantages and features of the life goals application are illustrated when you open it.</div>
					</div>
					<img decoding="async" src="/assets/img/work/life/05_phones.png" class="splash-screen-phones fadeInRight wow nolazyload" data-wow-duration="1.5s" data-wow-offset="250">
					<img decoding="async" src="/assets/img/work/life/05_phone_1.png" class="splash-screen splash-screen-1 fadeInRight wow nolazyload" data-wow-duration="1.5s" data-wow-offset="250">
					<img decoding="async" src="/assets/img/work/life/05_phone_2.png" class="splash-screen splash-screen-2 fadeInRight wow nolazyload" data-wow-duration="1.5s" data-wow-offset="250">
				</div>
			</div>
			<div class="col-12">
				<div class="dark-mode">
					<div class="life-goals-page-title">Dark mode</div>
					<div class="life-goals-page-subtitle">Easily swap between dark and <br> light mode.</div>
					<div class="dark-mode-phones">
						<img decoding="async" src="/assets/img/work/life/06_01.png" class="dark-mode-phone fadeInUp wow nolazyload" data-wow-duration="1.5s" data-wow-offset="250">
						<img decoding="async" src="/assets/img/work/life/06_02.png" class="dark-mode-phone fadeInUp wow nolazyload" data-wow-duration="1.5s" data-wow-offset="250">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
     

</Layout>
