---
import Layout from '../../layouts/BaseLayout.astro';
---

<Layout title="New site for Office Planning | UI/UX, Apps design and Mobile-first Development – Digital Agency Webcreator">
    

   
<div class="work-overview-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="work-overview__subtitle">UI/UX &amp; Digital Design</div>
                <h1 class="work-overview__title">Office Planning</h1>
            </div>
            <div class="col-lg-6">
                <p>
                    New web site design for Office Planning that provides office furniture and workspace solutions where ergonomics meets aesthetics.
                </p>
            </div>
        </div>
    </div>
</div>



<div class="work-overview-images">
    <div class="container">
        <div class="row">
            <div class="col-12"><figure><img decoding="async" src="/assets/img/work/op/01.png" alt="tablet"></figure></div>
<div class="col-12" style="text-align: center; padding-bottom: 25px;" id="video"><video controls="1" loop="1" autoplay="1" playsinline="1" muted="1" width="100%"> <source src="/assets/img/work/op/Final-20.mp4" type="video/mp4"> <figure><img decoding="async" class="example2" style="display: block; margin-left: auto; margin-right: auto; border: 0px;" src="/assets/img/work/op/02.png" border="0"></figure> </source></video></div>

<div class="col-12"><figure><img decoding="async" src="/assets/img/work/op/03.png" alt="tablet"></figure></div>
            <div class="col-md-6"><figure><img decoding="async" src="/assets/img/work/op/04-1.png" alt="blue-auditor"></figure></div>
            <div class="col-md-6"><figure><img decoding="async" src="/assets/img/work/op/04-2.png" alt="checkmark"></figure></div>
<div class="col-12"><figure><img decoding="async" src="/assets/img/work/op/05.png" alt="tablet"></figure></div>
            <div class="col-md-6"><figure><img decoding="async" src="/assets/img/work/op/06-1.png" alt="blue-auditor"></figure></div>
            <div class="col-md-6"><figure><img decoding="async" src="/assets/img/work/op/06-2.png" alt="checkmark"></figure></div>
<div class="col-12"><figure><img decoding="async" src="/assets/img/work/op/07.png" alt="tablet"></figure></div>
<div class="col-12"><figure><img decoding="async" src="/assets/img/work/op/08.png" alt="tablet"></figure></div>



        </div>
    </div>
     


</Layout>
