---
import Layout from '../../layouts/BaseLayout.astro';
---

<Layout title="New UI for Motwi SaaS and Design System | UI/UX, Apps design and Mobile-first Development – Digital Agency Webcreator">


<link rel="stylesheet" href="/styles/motvi.css">
<script src="../../assets/js/motvi.js"></script>

   <div class="work-overview-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="work-overview__subtitle">UI/UX for SaaS and Design System</div>
                <h1 class="work-overview__title">MOTWI IoT</h1>
            </div>
            <div class="col-lg-6">
                <p><strong>Client Overview:</strong> MOTWI, a Hong Kong and Shanghai-based global company, specializes in the Internet of Things within the 2-wheeled mobility industry. They approached us with a goal to revamp their SaaS platform and create a comprehensive design system.
</p>
<p><strong>Design Challenge:</strong> MOTWI needed a user-friendly, modern SaaS platform to streamline their IoT solutions. The challenge was not only to create an intuitive user interface but also to develop a design system that could be consistently applied across their diverse product offerings.
</p>

            </div>
        </div>
    </div>
</div>



<div class="wrapper">
		<main class="page">
			<section data-watch class="page__main main">
				<div class="main__container">
					<div class="main__media">
						<div class="main__notebook">
							<picture><source srcset="/assets/img/work/motwi/main/notebook-1.webp" type="image/webp"><img decoding="async" class="main__notebook-image" src="/assets/img/work/motwi/main/notebook-1.png" alt="Notebook"></source></picture>
							<img decoding="async" class="main__notebook-shadow" src="/assets/img/work/motwi/main/notebook_shadow.svg" alt="Shadow">
						</div>
						<div class="main__phone">
							<picture><source srcset="/assets/img/work/motwi/main/phone_3.webp" type="image/webp"><img decoding="async" class="main__phone-image" src="/assets/img/work/motwi/main/phone_3.png" alt="Phone"></source></picture>
							<img decoding="async" class="main__phone-shadow" src="/assets/img/work/motwi/main/phone_shadow.svg" alt="Shadow">
						</div>
					</div>
					<div class="main__content">
						<a href="#" class="main__logo _icon-logo"></a>
						<div class="main__round-image">
							<picture><source srcset="/assets/img/work/motwi/main/bike-2.webp" type="image/webp"><img decoding="async" src="/assets/img/work/motwi/main/bike-2.jpg" alt="Bike"></source></picture>
						</div>
						<div class="main__powerbank">
							<picture><source srcset="/assets/img/work/motwi/main/powerbank.webp" type="image/webp"><img decoding="async" src="/assets/img/work/motwi/main/powerbank.png" alt="powerbank"></source></picture>
						</div>
					</div>
				</div>
			</section>
			<section class="page__block page__about about block--grey">
				<div class="about__container">
					<div class="block__header">
						<div>
							<div class="block__title">About</div>
							<div class="block__number"></div>
						</div>
					</div>
					<div class="about__body">
						<div class="about__title title">
							Developed a design system that included UI components, color schemes, typography, and iconography for consistency across MOTWI’s product suite.
						</div>
						<div class="about__wrapper">
							<div class="about__media">
								<img decoding="async" src="/assets/img/work/motwi/about/01.gif" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="about__content">
					<div class="block__divided block__divided--blue-pink">
						<div class="block__container">
							<div class="block__left">
								<div class="block__left-body">
									<div data-watch class="block__items">
										<div class="block__item item-block item-block--green">
											<div class="item-block__media">
												<div class="item-block__icon _icon-cross"></div>
											</div>
											<div class="item-block__content">
												<div class="item-block__top">
													<div data-digits-counter class="item-block__counter">29</div>
													<div class="item-block__info _icon-arrow-triangle">62%</div>
												</div>
												<div class="item-block__bottom">Cancelled</div>
											</div>
										</div>
										<div class="block__item item-block item-block--pink">
											<div class="item-block__media">
												<div class="item-block__icon _icon-attention"></div>
											</div>
											<div class="item-block__content">
												<div class="item-block__top">
													<div data-digits-counter class="item-block__counter">684</div>
													<div class="item-block__info _icon-arrow-triangle">35%</div>
												</div>
												<div class="item-block__bottom">On Hold/Suspended</div>
											</div>
										</div>
										<div class="block__item item-block item-block--orange">
											<div class="item-block__media">
												<div class="item-block__icon _icon-data"></div>
											</div>
											<div class="item-block__content">
												<div class="item-block__top">
													<div data-digits-counter data-digits-counter-format="," class="item-block__counter">2782</div>
													<div class="item-block__info _icon-arrow-triangle">12%</div>
												</div>
												<div class="item-block__bottom">Activated</div>
											</div>
										</div>
										<div class="block__item item-block item-block--grey">
											<div class="item-block__media">
												<div class="item-block__icon _icon-clock"></div>
											</div>
											<div class="item-block__content">
												<div class="item-block__top">
													<div data-digits-counter class="item-block__counter">387</div>
													<div class="item-block__info _icon-arrow-triangle">62%</div>
												</div>
												<div class="item-block__bottom">Waiting Activation</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="block__right">
								<div class="block__right-body">
									<div class="block__divided-title title"> MOTWI’s SaaS platform now offers an intuitive and efficient user experience, reducing the learning curve for their clients
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="page__block page__mobile mobile block--grey block_p140">
				<div class="mobile__container">
					<div class="block__header">
						<div class="block__title">Mobile</div>
						<div class="block__number">01</div>
					</div>
					<div class="mobile__phones">
						<div data-watch class="mobile__phone mobile__phone--small">
							<picture><source srcset="/assets/img/work/motwi/mobile/01.webp" type="image/webp"><img decoding="async" src="/assets/img/work/motwi/mobile/01.png" alt="Mobile"></source></picture>
						</div>
						<div data-watch class="mobile__phone">
							<picture><source srcset="/assets/img/work/motwi/mobile/mobile.webp" type="image/webp"><img decoding="async" src="/assets/img/work/motwi/mobile/mobile.png" alt="Mobile"></source></picture>
							<img decoding="async" class="mobile__gif" src="/assets/img/work/motwi/mobile/01.gif" alt="">
							<picture><source srcset="/assets/img/work/motwi/mobile/decor_2.webp" type="image/webp"><img decoding="async" class="mobile__decor" src="/assets/img/work/motwi/mobile/decor_2.png" alt=""></source></picture>
						</div>
						<div data-watch class="mobile__phone mobile__phone--small">
							<picture><source srcset="/assets/img/work/motwi/mobile/03.webp" type="image/webp"><img decoding="async" src="/assets/img/work/motwi/mobile/03.png" alt="Mobile"></source></picture>
						</div>
					</div>
				</div>
				<div class="mobile__content">
					<div class="block__divided block__divided--blue">
						<div class="block__container">
							<div class="block__left">
								<div class="block__left-body">
									<div class="block__divided-title title">The design system allowed MOTWI to efficiently roll out new features and maintain a cohesive brand presence.
									</div>
									<div class="block__color">
										<picture><source srcset="/assets/img/work/motwi/mobile/colors.webp" type="image/webp"><img decoding="async" src="/assets/img/work/motwi/mobile/colors.png" alt=""></source></picture>
									</div>
								</div>
							</div>
							<div data-watch class="block__right">
								<div class="block__right-body">
									<div class="block__colors">
										<picture><source srcset="/assets/img/work/motwi/mobile/color_picker.webp" type="image/webp"><img decoding="async" src="/assets/img/work/motwi/mobile/color_picker.png" alt=""></source></picture>
										<picture><source srcset="/assets/img/work/motwi/mobile/colors_1.webp" type="image/webp"><img decoding="async" src="/assets/img/work/motwi/mobile/colors_1.png" alt=""></source></picture>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="page__block page__components components block--grey">
				<div class="components__container">
					<div class="block__header">
						<div class="block__title">Components</div>
						<div class="block__number">02</div>
					</div>
					<div class="components__body">
						<div data-watch class="components__row components__full">
							<img decoding="async" src="/assets/img/work/motwi/components/01.svg" alt="">
						</div>
						<div class="components__row components__row-3col">
							<div data-watch class="components__column"><img decoding="async" src="/assets/img/work/motwi/components/02.svg" alt=""></div>
							<div data-watch class="components__column"><img decoding="async" src="/assets/img/work/motwi/components/03.svg" alt=""></div>
							<div data-watch class="components__column">
								<div data-watch class="components__column-image"><img decoding="async" src="/assets/img/work/motwi/components/04.svg" alt=""></div>

								<div class="components__column-image"><img decoding="async" src="/assets/img/work/motwi/components/05.svg" alt=""></div>
							</div>
						</div>
						<div class="components__row components__row-3item">
							<div data-watch class="components__column"><img decoding="async" src="/assets/img/work/motwi/components/06.svg" alt=""></div>
							<div data-watch class="components__column"><img decoding="async" src="/assets/img/work/motwi/components/07.svg" alt=""></div>
							<div data-watch class="components__column">
								<img decoding="async" src="/assets/img/work/motwi/components/08.svg" alt="">
							</div>
						</div>
						<div class="components__row components__row-2col">
							<div data-watch class="components__column"><img decoding="async" src="/assets/img/work/motwi/components/09.svg" alt=""></div>
							<div data-watch class="components__column"><img decoding="async" src="/assets/img/work/motwi/components/10.svg" alt=""></div>
						</div>
						<div class="components__row components__row-4item">
							<div data-watch class="components__column"><img decoding="async" src="/assets/img/work/motwi/components/11.svg" alt=""></div>
							<div data-watch class="components__column"><img decoding="async" src="/assets/img/work/motwi/components/12.svg" alt=""></div>
							<div data-watch class="components__column">
								<img decoding="async" src="/assets/img/work/motwi/components/13.svg" alt="">
							</div>
							<div data-watch class="components__column">
								<img decoding="async" src="/assets/img/work/motwi/components/14.svg" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="components__content">
					<div class="block__divided block__divided--blue-pink">
						<div class="block__container">
							<div class="block__left">
								<div class="block__left-body">
									<div data-watch class="block__themes">
										<div class="block__theme-light">
											<p>Light ?</p>
											<picture><source srcset="/assets/img/work/motwi/components/light.webp" type="image/webp"><img decoding="async" src="/assets/img/work/motwi/components/light.jpg" alt=""></source></picture>
										</div>
										<div class="block__theme-dark">
											<p>Dark ?</p>
											<picture><source srcset="/assets/img/work/motwi/components/dark.webp" type="image/webp"><img decoding="async" src="/assets/img/work/motwi/components/dark.jpg" alt=""></source></picture>
										</div>
									</div>
								</div>
							</div>
							<div class="block__right">
								<div class="block__right-body">
									<div class="block__divided-title title">Adapting the design system to cater to diverse global markets while maintaining a unified look and feel
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="page__block page__social social block--grey block_p140">
				<div class="social__container">
					<div class="block__header">
						<div class="block__title">Social media</div>
						<div class="block__number">03</div>
					</div>
					<div class="social__body">
						<div class="social__row">
							<div class="social__column">
								<div class="social__item social__item--small">
									<picture><source srcset="/assets/img/work/motwi/social/01.webp" type="image/webp"><img decoding="async" src="/assets/img/work/motwi/social/01.jpg" alt=""></source></picture>
								</div>
								<div class="social__item social__item--small">
									<picture><source srcset="/assets/img/work/motwi/social/02.webp" type="image/webp"><img decoding="async" src="/assets/img/work/motwi/social/02.jpg" alt=""></source></picture>
								</div>
							</div>
							<div class="social__column">
								<div class="social__item social__item--big">
									<picture><source srcset="/assets/img/work/motwi/social/03.webp" type="image/webp"><img decoding="async" src="/assets/img/work/motwi/social/03.jpg" alt=""></source></picture>
								</div>
							</div>
						</div>
						<div class="social__row">
							<div class="social__column">
								<div class="social__item social__item--big">
									<picture><source srcset="/assets/img/work/motwi/social/04.webp" type="image/webp"><img decoding="async" src="/assets/img/work/motwi/social/04.jpg" alt=""></source></picture>
								</div>
							</div>
							<div class="social__column">
								<div class="social__item social__item--big">
									<picture><source srcset="/assets/img/work/motwi/social/05.webp" type="image/webp"><img decoding="async" src="/assets/img/work/motwi/social/05.jpg" alt=""></source></picture>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="social__content">
					<div class="block__divided block__divided--blue">
						<div class="block__container container">
							<div class="block__left">
								<div class="block__left-body">
									<div class="block__divided-title title">The project is an excellent example of how user-centric design and a comprehensive design system can drive success in the tech industry
									</div>
								</div>
							</div>
							<div class="block__right">
								<div class="block__right-body">
									<div data-watch class="block__icons">
										<a href="#" class="block__icon _icon-diagram"></a>
										<a href="#" class="block__icon _icon-web"></a>
										<a href="#" class="block__icon _icon-connect"></a>
										<a href="#" class="block__icon _icon-people"></a>
										<a href="#" class="block__icon _icon-attention"></a>
										<a href="#" class="block__icon _icon-home"></a>
										<a href="#" class="block__icon _icon-directions"></a>
										<a href="#" class="block__icon _icon-path"></a>
										<a href="#" class="block__icon _icon-bike"></a>
										<a href="#" class="block__icon _icon-clock"></a>
										<a href="#" class="block__icon _icon-data"></a>
										<a href="#" class="block__icon _icon-settings"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="page__block page__styleguide styleguide block_p140">
				<div class="styleguide__container">
					<div class="block__header">
						<div class="block__title">Styleguide</div>
						<div class="block__number">04</div>
					</div>
					<div class="styleguide__body">
						<div class="styleguide__top">
							<div class="styleguide__logos">
								<div class="styleguide__logo styleguide__logo--pink _icon-logo"></div>
								<div class="styleguide__logo styleguide__logo--dark _icon-logo"></div>
							</div>
							<div class="styleguide__block">
								<div class="styleguide__column styleguide__column--pink">
									<div class="styleguide__text">
										<p>Pantone 184C</p>
										<p>CMYK 0/81/37/0</p>
										<p>RGB 251/78/110</p>
										<p>HEX #FB4E6E</p>
									</div>
								</div>
								<div class="styleguide__item">
									<div class="styleguide__column styleguide__column--lightblue">
										<div class="styleguide__text">
											<p>Pantone 2725C</p>
											<p>CMYK 72/56/0/0</p>
											<p>RGB 95/118/232</p>
											<p>HEX #5F76E8</p>
										</div>
									</div>
									<div class="styleguide__column styleguide__column--grey">
										<div class="styleguide__text">
											<p>Pantone 7543C</p>
											<p>CMYK 50/34/29/9</p>
											<p>RGB 137/148/159</p>
											<p>HEX #89949F</p>
										</div>
									</div>
								</div>

								<div class="styleguide__column styleguide__column--dark">
									<div class="styleguide__text">
										<p>Pantone 7463C</p>
										<p>CMYK 92/80/38/36</p>
										<p>RGB 43/51/84</p>
										<p>HEX #2B3354</p>
									</div>
								</div>
							</div>
						</div>
						<div data-watch class="styleguide__bottom">
							<div class="styleguide__gradient-line"></div>
							<div class="styleguide__gradient-items">
								<div class="styleguide__gradient-item">
									<div class="styleguide__gradient-color"></div>
									<div class="styleguide__gradient-text">
										<p>Pantone 2725C</p>
										<p>CMYK 81/74/0/0</p>
										<p>RGB 90/72/210</p>
										<p>HEX #5A48D2</p>
									</div>
								</div>
								<div class="styleguide__gradient-item">
									<div class="styleguide__gradient-color"></div>
									<div class="styleguide__gradient-text">
										<p>Pantone 184C</p>
										<p>CMYK 0/81/37/0</p>
										<p>RGB 251/78/110</p>
										<p>HEX #FB4E6E</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="styleguide__wrapper">
						<div class="styleguide__box">
							<div class="styleguide__box-top"><a href="">www.motwi.com</a> <span></span></div>
							<div class="styleguide__box-body">
								<div class="styleguide__box-content">
									<a href="#" class="styleguide__box-logo _icon-logo"></a>
									<p>3901 54th Ave NE</p>
									<p>Calgary, AB T3J 3W5</p>
									<a href="">www.motwi.com</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="styleguide__content">
					<div class="block__divided block__divided--blue">
						<div class="block__container">
							<div class="block__left">
								<div class="block__left-body">
									<a href="#" class="block__logo _icon-logo"></a>
								</div>
							</div>
							<div class="block__right">
								<div class="block__right-body">
									<span>Create your M-LINK Network</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>

<p>
    <br>
    <br>
</p>


</Layout>
