---
import Layout from '../../layouts/BaseLayout.astro';
---

<Layout title="OneSourceProcess | UI/UX, Apps design and Mobile-first Development – Digital Agency Webcreator">

<link rel="stylesheet" href="/styles/one.css">
<script src="../../assets/js/one.js"></script>
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>


<div class="work-overview-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="work-overview__subtitle">UI/UX, Redesign and CRO</div>
                <h1 class="work-overview__title">One Source Process</h1>
            </div>
            <div class="col-lg-6">
                <p>
One Source Process is a nationwide provider of legal process and document services, including apostille and legalization services. 

                </p>
                <p>
The company engaged Webcreator to design a new website, CRM, and cost calculation tool aimed at enhancing its customer experience and improving its operational efficiency.
</p>
<a href="https://www.onesourceprocess.com/" target="_blank" rel="noopener">onesourceprocess.com</a>
            </div>
        </div>
    </div>
</div>



<div class="wrapper-presentation">

    <div class="portfolio-section">
        <div class="container">
            <div class="wrapper_inner">
                <div class="title-with-text-block">
                    <h2 class="block-heading">MAIN PAGE</h2>
                    <div class="block-heading justify-right">01</div>
                </div>
                <div class="portfolio-block">
                    <img decoding="async" src="/assets/img/work/one/portfolio/1.jpg" alt="" class="block__animate animate img_1">
                    <img decoding="async" src="/assets/img/work/one/portfolio/2.jpg" alt="" class="block__animate img_2">
                    <img decoding="async" src="/assets/img/work/one/portfolio/3.jpg" alt="" class="block__animate img_3">
                    <img decoding="async" src="/assets/img/work/one/portfolio/4.jpg" alt="" class="block__animate img_4">
                    <div class="wrapper_image">
                        <img decoding="async" src="/assets/img/work/one/portfolio/6.png" alt="" class="block__animate img_6">
                        <img decoding="async" src="/assets/img/work/one/portfolio/7.png" alt="" class="block__animate_2 img_7">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="title-with-text-block text">
            <h2 class="block-heading">About</h2>
            <p class="block-text">
                One Source Process is a document processing company that provides an experienced, efficient, and
                personal
                service
                to our clients.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="double-block">
            <div class="image-block">
                <img decoding="async" src="/assets/img/work/one/about-1.png" alt="">
            </div>
            <div class="anim-phone anim-phone_1 animation-phone">
                <img decoding="async" src="/assets/img/work/one/phone-1.png" alt="">
            </div>
        </div>
    </div>

    <div class="macbook-section">
        <div class="container">
            <div class="title-with-text-block">
                <h2 class="block-heading">APPOSTILE &amp; LEGALIZATION</h2>
                <div class="block-heading justify-right">02</div>
            </div>
            <div class="macbook-block">
                <img decoding="async" class="macbook-block__macbook" src="/assets/img/work/one/macbook/Macbook.png" alt="">
                <img decoding="async" src="/assets/img/work/one/macbook/01.png" alt="" class="macbook-block__macbook-section macbook-block__macbook-section--1">
                <img decoding="async" src="/assets/img/work/one/macbook/02.png" alt="" class="macbook-block__macbook-section macbook-block__macbook-section--2 block__animate">
                <img decoding="async" src="/assets/img/work/one/macbook/03.png" alt="" class="macbook-block__macbook-section macbook-block__macbook-section--3 block__animate">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="title-with-text-block text">
            <h2 class="block-heading">Appostile</h2>
            <p class="block-text">
                Our comprehensive document apostille services allow us to prepare, file and obtain your apostille
                documents for
                every state on your behalf in the most convenient and professional manner.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="double-block">
            <div class="anim-phone anim-phone_2 animation-phone">
                <img decoding="async" class="phone" src="/assets/img/work/one/phone-2.png" alt="">
                <img decoding="async" class="ellipse block__animate--duration-03" src="/assets/img/work/one/ellipse.png" alt="">
            </div>
            <div class="image-block">
                <img decoding="async" src="/assets/img/work/one/appostile.png" alt="">
            </div>
        </div>
    </div>

    <div class="ipad-section">
        <div class="container">
            <div class="title-with-text-block">
                <h2 class="block-heading">Professional Process Servers</h2>
                <div class="block-heading justify-right">03</div>
            </div>
        </div>
        <div class="ipad-block">
            <img decoding="async" class="block__animate ipad-block__top-device " src="/assets/img/work/one/ipad/top-device.png" alt="ipad">
            <img decoding="async" class="ipad-block__bottom-device block__animate" src="/assets/img/work/one/ipad/bottom-device.png" alt="ipad">
        </div>
    </div>

    <div class="container">
        <div class="double-block">
            <div class="image-block">
                <img decoding="async" src="/assets/img/work/one/stock.png" alt="">
            </div>
            <div class="anim-phone anim-phone_3 animation-phone">
                <img decoding="async" class="phonenew" src="/assets/img/work/one/phone-3.png" alt="">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="title-with-text-block text">
            <h2 class="block-heading">GPS Tracking</h2>
            <p class="block-text">
                One of our most prized company standards is that we include GPS tracking of all attempts made by our
                private
                process servers. This feature is surprisingly not required by law in most states.
            </p>
        </div>
    </div>

    <div class="triple-phones-section">
        <div class="container">
            <div class="title-with-text-block">
                <h2 class="block-heading">Mobile</h2>
                <div class="block-heading justify-right">04</div>
            </div>
            <div class="triple-phones-block">
                <div class="triple-phones-block__phone triple-phones-block__phone--left block__animate">
                    <img decoding="async" src="/assets/img/work/one/triple-phones/01.png" alt="">
                </div>
                <div class="triple-phones-block__phone-scroll triple-phone-scroll block__animate">
                    <img decoding="async" src="/assets/img/work/one/triple-phones/02/frame.png" alt="">
                </div>
                <div class="triple-phones-block__phone triple-phones-block__phone--right block__animate">
                    <img decoding="async" src="/assets/img/work/one/triple-phones/03.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="title-with-text-block">
            <h2 class="block-heading">LOGO &amp; Branding</h2>
            <div class="block-heading justify-right">05</div>
        </div>
        <div class="animated-logo block__animate">
            <div class="animated-logo__circles">
                <img decoding="async" src="/assets/img/work/one/circles/01.svg" alt="">
                <img decoding="async" src="/assets/img/work/one/circles/02.svg" alt="">
                <img decoding="async" src="/assets/img/work/one/circles/03.svg" alt="">
            </div>
            <div class="animated-logo__text">
                <img decoding="async" src="/assets/img/work/one/circles/logo-text.svg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="double-block double-block-earlier">
        <div class="icon-items">
            <div class="icon-items-container">
                <a class="icon-item icon-item_1 animation-circle" href=""><img decoding="async" src="/assets/img/work/one/icon-items/01.svg" alt=""></a>
                <a class="icon-item icon-item_2 animation-circle" href=""><img decoding="async" src="/assets/img/work/one/icon-items/02.svg" alt=""></a>
                <a class="icon-item icon-item_3 animation-circle" href=""><img decoding="async" src="/assets/img/work/one/icon-items/03.svg" alt=""></a>
                <a class="icon-item icon-item_4 animation-circle" href=""><img decoding="async" src="/assets/img/work/one/icon-items/04.svg" alt=""></a>
                <a class="icon-item icon-item_5 animation-circle" href=""><img decoding="async" src="/assets/img/work/one/icon-items/05.svg" alt=""></a>
                <a class="icon-item icon-item_6 animation-circle" href=""><img decoding="async" src="/assets/img/work/one/icon-items/06.svg" alt=""></a>
                <a class="icon-item icon-item_7 animation-circle" href=""><img decoding="async" src="/assets/img/work/one/icon-items/07.svg" alt=""></a>
                <a class="icon-item icon-item_8 animation-circle" href=""><img decoding="async" src="/assets/img/work/one/icon-items/08.svg" alt=""></a>
                <a class="icon-item icon-item_9 animation-circle" href=""><img decoding="async" src="/assets/img/work/one/icon-items/09.svg" alt=""></a>
                <a class="icon-item icon-item_10 animation-circle" href=""><img decoding="async" src="/assets/img/work/one/icon-items/10.svg" alt=""></a>
            </div>
        </div>
        <div class="images-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="image-block">
                        <img decoding="async" src="/assets/img/work/one/stock-2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
<br>
</p>

</Layout>
