---
import Layout from '../../layouts/BaseLayout.astro';
---

<Layout title="Scan Magazine website development | UI/UX, Apps design and Mobile-first Development – Digital Agency Webcreator">

<link rel="stylesheet" href="/styles/animate.css">


<div class="work-overview-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="work-overview__subtitle">Publishing platform development</div>
                <h1 class="work-overview__title">Scan Magazine</h1>
            </div>
            <div class="col-lg-6">
                <p>
The magazine with 7 years of history promoting Scandinavian lifestyle, travel and business.
                </p>
                <p>
Webcreator task was to develop a new website based on the latest WordPress platform with a clear and simple way to publish numerous content by different authors and departments. 
                </p>
                <p>
It is a huge magazine with various categories, subcategories, and hundreds of articles. We did Scan Magazine site very fast and working smoothly across various devices.
</p>
<a href="https://scanmagazine.co.uk/" target="_blank" rel="noopener noreferrer">www.scanmagazine.co.uk</a>
            </div>
        </div>
    </div>
</div>



<div class="work-overview-images">
    <div class="container">
        <div class="row">
            <div class="col-12"><figure><img decoding="async" src="/assets/img/work/scan/01.png" alt="tablet"></figure></div>
            <div class="col-12"><figure><img decoding="async" src="/assets/img/work/scan/02.png" alt="tablet"></figure></div>
<div class="col-12 picture-text"><p>—</p>
           </div>
            <div class="col-12"><figure><img decoding="async" src="/assets/img/work/scan/03.png" alt="tablet"></figure></div>
            <div class="col-12"><figure><img decoding="async" src="/assets/img/work/scan/04.png" alt="tablet"></figure></div>
            <div class="col-12"><figure><img decoding="async" src="/assets/img/work/scan/05.png" alt="tablet"></figure></div>
            <div class="col-12"><figure><img decoding="async" src="/assets/img/work/scan/06.png" alt="tablet"></figure></div>
<div class="col-12 picture-text"><p>Visual variations of categories</p>
           </div>
            <div class="col-12"><figure><img decoding="async" src="/assets/img/work/scan/07.png" alt="tablet"></figure></div>
            <div class="col-12"><figure><img decoding="async" src="/assets/img/work/scan/08.png" alt="tablet"></figure></div>
<div class="col-12 picture-text"><p>Mobile-first web site development</p>
           </div>
            <div class="col-12"><figure><img decoding="async" src="/assets/img/work/scan/09.png" alt="tablet"></figure></div>
<div class="col-12 picture-text">
           </div>
    </div>

</div>
     

</Layout>
