---
import Layout from '../../layouts/BaseLayout.astro';
---

<Layout title="Templeton Music Store | UI/UX, Apps design and Mobile-first Development – Digital Agency Webcreator">

<link rel="stylesheet" href="/styles/templeton.css">
<script src="../../assets/js/one.js"></script>
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

<div class="work-overview-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="work-overview__subtitle">e-commerce development</div>
                <h1 class="work-overview__title">Templeton Music Store</h1>
            </div>
            <div class="col-lg-6">
                <p>
Premium royalty free Ableton Live Templates. Fully produced, mixed and mastered Ableton templates to analyze and jump start producer workflow.

                </p>
                <p>
Design, digital architecture and development by Webcreator squad. The store based on new core engine with fast loading and S3-compatible storage by Digital Ocean. 
</p>
<a href="#" target="_blank" rel="noopener">www.templeton.store</a>
            </div>
        </div>
    </div>
</div>



<!-- FIRST BLOCK -->
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="hero block block--first-animate block__bg-effect" style="background-image: url(/assets/img/work/templeton/animate-1.jpg)">
               <div class="block__inner">
                  <div class="block__content">
                     <div class="block__logo text-center text-white">
                        <img decoding="async" src="/assets/img/work/templeton/templeton.svg" alt="" class="animate-logo block__animate block__animate-top">

                        <div class="block__text animate-title block__animate block__animate-top block__animate--duration-03">
                           <p>As music creators, we all have different ambitions. No matter if you are a producer, composer, musician or artist, working with us will let you thrive as a music creator.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- SECOND BLOCK -->
   <div class="container mb-5">
      <div class="row">
         <div class="col-12">
            <div class="block">
               <div class="block__inner">
                  <div class="block__header d-flex justify-content-between">
                     <span class="block__text--small block__text--colored">01</span>

                     <span class="block__text--small block__text--colored">Homepage/Products page/Cart</span>

                     <span class="block__text--small block__text--colored">Desktop</span>
                  </div>

                  <div class="block__content">
                     <div class="block__animate block__animate-top block__animate--duration text-center mb-4 mb-md-0">
                        <div class="slider slider--mackbook">
                           <div class="slider__inner--mackbook">
                              <div class="slider-js">
                                 <div class="swiper-wrapper">
                                    <div class="swiper-slide"><img decoding="async" src="/assets/img/work/templeton/slider1.png" alt=""></div>
   
                                    <div class="swiper-slide"><img decoding="async" src="/assets/img/work/templeton/slider2.png" alt=""></div>

                                    <div class="swiper-slide"><img decoding="async" src="/assets/img/work/templeton/slider3.png" alt=""></div>

                                    <div class="swiper-slide"><img decoding="async" src="/assets/img/work/templeton/slider4.png" alt=""></div>

                                    <div class="swiper-slide"><img decoding="async" src="/assets/img/work/templeton/slider5.png" alt=""></div>
                                  </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="block__footer"></div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- THIRD BLOCK -->
   <div class="container mb-5">
      <div class="row">
         <div class="col-12">
            <div class="block block--colored">
               <div class="block__inner">
                  <div class="block__header d-flex justify-content-between">
                     <span class="block__text--small block__text--colored">02</span>

                     <span class="block__text--small block__text--colored">Category list</span>

                     <span class="block__text--small block__text--colored">Desktop</span>
                  </div>

                  <div class="block__content">
                     <div class="block__animate block__animate-top block__animate--duration mb-4 mb-md-0 text-center">
                        <img decoding="async" src="/assets/img/work/templeton/category_grid_mob.png" alt="">
                     </div>
                  </div>

                  <div class="block__footer"></div>
               </div>
            </div>
         </div>
      </div>
   </div>

    <!-- FOUR BLOCK -->
    <div class="container mb-5">
      <div class="row">
         <div class="col-12">
            <div class="block">
               <div class="block__inner">
                  <div class="block__header d-flex justify-content-between">
                     <span class="block__text--small block__text--colored">03</span>

                     <span class="block__text--small block__text--colored">Category list</span>

                     <span class="block__text--small block__text--colored">Mobile</span>
                  </div>
               </div>
            </div>

            <div class="grid grid-md-2">
               <div class="grid-col iphone-top text-center overflow-hidden">
                  <div class="item-inner block__animate animation-phone animation-phone__toleft">
                     <img decoding="async" src="/assets/img/work/templeton/iPhone-13-Pro-Front.png" alt="">
                  </div>
               </div>

               <div class="grid-col text-center block__black overflow-hidden">
                  <div class="item-inner block__animate animation-phone animation-phone__toright">
                     <img decoding="async" src="/assets/img/work/templeton/category_grid_mob.jpg" alt="">
                  </div>
               </div>
            </div>

            <div class="block__footer"></div>
         </div>
      </div>
   </div>

    <!-- FIVE BLOCK -->
    <div class="container mb-5">
      <div class="row">
         <div class="col-12">
            <div class="block block--colored">
               <div class="block__inner">
                  <div class="block__header d-flex justify-content-between">
                     <span class="block__text--small block__text--colored">04</span>

                     <span class="block__text--center block__text--small block__text--colored">Log in/Profile/My products/My downloads/My likes</span>

                     <span class="block__text--small block__text--colored">Tablet</span>
                  </div>

                  <div class="block__animate block__animate-top block__animate--duration text-center mb-4 mb-md-0">
                     <div class="slider slider--ipad">
                        <div class="slider__inner">
                           <div class="slider-js">
                              <div class="swiper-wrapper">
                                 <div class="swiper-slide"><img decoding="async" src="/assets/img/work/templeton/ipad-slider-1.png" alt=""></div>

                                 <div class="swiper-slide"><img decoding="async" src="/assets/img/work/templeton/ipad-slider-2.png" alt=""></div>

                                 <div class="swiper-slide"><img decoding="async" src="/assets/img/work/templeton/ipad-slider-3.png" alt=""></div>

                                 <div class="swiper-slide"><img decoding="async" src="/assets/img/work/templeton/ipad-slider-4.png" alt=""></div>

                                 <div class="swiper-slide"><img decoding="async" src="/assets/img/work/templeton/ipad-slider-5.png" alt=""></div>
                               </div>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="block__footer"></div>
               </div>
            </div>
         </div>
      </div>
   </div>

    <!-- SIX BLOCK -->
    <div class="container mb-5">
      <div class="row">
         <div class="col-12">
            <div class="block">
               <div class="block__inner">
                  <div class="block__header d-flex justify-content-between">
                     <span class="block__text--small block__text--colored">05</span>

                     <span class="block__text--small block__text--colored">Styleguide</span>

                     <span class="block__text--small block__text--colored">Design</span>
                  </div>
               </div>
            </div>

            <div class="grid grid-md-4 styleguide">
               <div class="styleguide__item--title block__animate block__animate-top block__animate--duration-03">
                  <img decoding="async" src="/assets/img/work/templeton/Graphik.svg" alt="">
               </div>

               <div class="styleguide__item--purple styleguide__item text-white block__animate">
                  <div class="styleguide__title block__animate block__animate--duration">Purple</div>

                  <div class="styleguide__footer block__animate">
                     <div class="mb-1">rgba(123, 85, 248, 1)</div>
                     <div>#7B55F8</div>
                  </div>
               </div>

               <div class="styleguide__item--black styleguide__item text-white block__animate">
                  <div class="styleguide__title block__animate block__animate--duration-03">Black</div>

                  <div class="styleguide__footer block__animate">
                     <div class="mb-1">rgba(0, 0, 0, 1)</div>
                     <div>#000000</div>
                  </div>
               </div>

               <div class="styleguide__item--gray styleguide__item text-white block__animate">
                  <div class="styleguide__title block__animate">Gray</div>

                  <div class="styleguide__footer block__animate">
                     <div class="mb-1">rgba(132, 140, 151, 1)</div>
                     <div>#848C97</div>
                  </div>
               </div>

               <div class="styleguide__item--white styleguide__item block__animate">
                  <div class="styleguide__title block__animate">Purple</div>

                  <div class="styleguide__footer block__animate">
                     <div class="mb-1">rgba(255, 255, 255, 1)</div>
                     <div>#FFFFFF</div>
                  </div>
               </div>
            </div>

            <div class="typography block__animate">
               <img decoding="async" src="/assets/img/work/templeton/typo.svg" alt="">
            </div>

            <div class="block__footer"></div>
         </div>
      </div>
   </div>

   <!-- SEVEN BLOCK -->
   <div class="container mb-5">
      <div class="row">
         <div class="col-12">
            <div class="block block--purple">
               <div class="block__inner">
                  <div class="block__header d-flex justify-content-between">
                     <span class="block__text--small text-white">06</span>

                     <span class="block__text--small text-white block__text--center">My products/My profile/Cart</span>

                     <span class="block__text--small text-white">Mobile</span>
                  </div>

                  <div class="block__content">
                     <div class="row">
                        <div class="col-md-4 text-center block__animate block__animate-bottom block__animate--duration-03">
                           <img decoding="async" src="/assets/img/work/templeton/products1.jpg" alt="">
                        </div>
      
                        <div class="col-md-4 text-center block__animate block__animate-bottom block__animate--duration">
                           <img decoding="async" src="/assets/img/work/templeton/profile.jpg" alt="">
                        </div>
      
                        <div class="col-md-4 text-center block__animate block__animate-bottom block__animate--duration-04">
                           <img decoding="async" src="/assets/img/work/templeton/cart-review.jpg" alt="">
                        </div>
                     </div>
                  </div>

                  <div class="block__footer"></div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="container mb-5 about">
      <div class="row">
         <div class="col-12">
            <div class="block block--colored">
               <div class="block__inner">
                  <div class="block__header d-flex justify-content-between">
                     <span class="block__text--small block__text--colored">07</span>

                     <span class="block__text--small block__text--colored">About us/Add product</span>

                     <span class="block__text--small block__text--colored">Desktop</span>
                  </div>

                  <div class="block__content">
                     <div class="about__item block__animate block__animate-top block__animate--duration text-center">
                        <img decoding="async" src="/assets/img/work/templeton/about-1.png" alt="">
                     </div>

                     <div class="about__item block__animate block__animate-top block__animate--duration text-center">
                        <img decoding="async" src="/assets/img/work/templeton/about-2.png" alt="">
                     </div>

                     <div class="about__item block__animate block__animate-top block__animate--duration text-center">
                        <img decoding="async" src="/assets/img/work/templeton/about-3.png" alt="">
                     </div>

                     <div class="about__item block__animate block__animate-top block__animate--duration text-center">
                        <img decoding="async" src="/assets/img/work/templeton/about-4.png" alt="">
                     </div>
                  </div>

                  <div class="block__footer"></div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="container mb-5 newsletter">
      <div class="row">
         <div class="col-12">
            <div class="block block--black">
               <div class="block__inner">
                  <div class="block__header d-flex justify-content-between">
                     <span class="block__text--small text-white">08</span>

                     <span class="block__text--small text-white">Newsletter</span>

                     <span class="block__text--small text-white">Desktop</span>
                  </div>

                  <div class="block__content block__content--light-blue">
                     <div class="newsletter__item block__animate block__animate-top block__animate--duration text-center">
                        <img decoding="async" src="/assets/img/work/templeton/newsletter-1.jpg" alt="">
                     </div>

                     <div class="newsletter__item block__animate block__animate-top block__animate--duration text-center">
                        <img decoding="async" src="/assets/img/work/templeton/newsletter-2.jpg" alt="">
                     </div>

                     <div class="newsletter__item block__animate block__animate-top block__animate--duration text-center">
                        <img decoding="async" src="/assets/img/work/templeton/newsletter-3.jpg" alt="">
                     </div>

                     <div class="newsletter__item block__animate block__animate-top block__animate--duration text-center">
                        <img decoding="async" src="/assets/img/work/templeton/newsletter-5.jpg" alt="">
                     </div>
                  </div>

                  <div class="block__footer"></div>
               </div>
            </div>
         </div>
      </div>
   </div>


</Layout>
