---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Form from "../components/Form.astro";
const { title } = Astro.props;
---
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/svg+xml" href="/favicon.png" />
<link rel="stylesheet" type="text/css" href="/styles/animate.css">
<link rel="stylesheet" type="text/css" href="/styles/app.min.css">

<link rel="preload" href="/assets/fonts/ProximaNovaBold.otf" as="font" crossorigin="anonymous">
<link rel="preload" href="/assets/fonts/ProximaNovaRegular.otf" as="font" crossorigin="anonymous">

	
<link rel="stylesheet" href="/styles/bundle-animation-home.css">
<title>{title}</title>
</head>
<body>
<Header />


<main>
<slot />
<Form />
</main>


<Footer />
</body>
</html>
