---
import BaseLayout from "../BaseLayout.astro";
import LastWork from "../components/LastWork.astro";
const { title } = Astro.props;
---
<BaseLayout title={title}>
<section>
<h1>{title}</h1>
<slot />
</section>


<LastWork />
</BaseLayout>